.content-wrapper
  .content-wrapper-top
    .category-selector
      != select_tag "change_category", options_for_select(categories_for_select, @category.id), :id => "change_category", :onchange => "stage1.cetagory_id = parseInt(jQuery(this).val()); stage1.page_num = 1; stage1.update_designs();"
    != will_paginate(collection, :renderer => RemoteDesignsWillPaginate)
    .clear

  .image-boxes-h
    - collection.in_groups_of(3).each do |group|
      .image-boxes-h-row
        - group.compact.each do |d|
          .img-box
            != render(:partial => "designs/selector", :locals => {:event => @event, :design => d, :category => @category})
