- if design
  .img-box-t
    .img-box-b
      .content-h
        .image
          != image_tag(design.preview.url(:medium), :alt => "")
      != select_design_link(design)
      != select_design_link_plus(design)