- for design in carusel_collection
  .item{:href => new_event_path(:design_id => design, :category_id => design.category_id)}
    != image_tag(design.preview.url(:carousel), :alt => "", :class => "content")