- f.inputs do
  %li.boolean.optional.allow_seeing_other_guests.auto_width
    != f.check_box :cancel_by_email
    != f.label :cancel_by_email, _("By Email"), :checked_value => "true", :unchecked_value => "false"
.table-box.by_email{:style => (f.object.cancel_by_email? ? "" : "display:none")}
  .table-box-t
    .holder
      .forms-block
        %h4= _("Send following email to %{guests_count}") % {:guests_count => emails_count}
        - f.inputs do
          - event_text_input(f, :cancellation_email_subject, _("Email subject"), {:required => true})
          - event_input_text(f, :cancellation_email, _("Message to Guests"), {:required => true})