- f.inputs do
  != f.input :cancel_by_email, :as => :boolean, :label => _("By Email"), :input_html => {:class => "auto_width"}
.table-box.by_email
  .table-box-t
    .holder
      .forms-block
        %h4= _("Send following email to %{guests_count}") % {:guests_count => emails_count}
        klsadfj;klasjf;aksjf;askljf