- f.inputs do
  != f.input :cancel_by_sms, :label => _("By SMS"), :input_html => {:class => "auto_width"}, :checked_value => "true", :unchecked_value => "false"
.table-box.by_sms{:style => (f.object.cancel_by_sms? ? "" : "display:none")}
  .table-box-t
    .holder
      .forms-block
        %h4= _("Send following message to %{guests_count}") % {:guests_count => sms_count}
        - f.inputs do
          != f.input :cancellation_sms, :as => :text, :label => _("SMS Message"), :wrapper_html => {:class => "auto_width"}, :surround_html => {:tag => :div, :html => {:class => "textarea-bg"}}