- f.inputs do
  %li.boolean.optional.allow_seeing_other_guests.auto_width
    != f.check_box :cancel_by_sms
    != f.label :cancel_by_sms, _("By SMS"), :checked_value => "true", :unchecked_value => "false"
.table-box.by_sms{:style => (f.object.cancel_by_sms? ? "" : "display:none")}
  .table-box-t
    .holder
      .forms-block
        %h4= _("Send following message to %{guests_count}") % {:guests_count => sms_count}
        - f.inputs do
          != f.input :cancellation_sms, :as => :text, :input_html => {:class => "sms-message-body"}, :label => _("SMS Message"), :wrapper_html => {:class => "auto_width"}, :surround_html => {:tag => :div, :html => {:class => "textarea-bg"}}