- f.inputs do
  != f.input :cancel_by_sms, :as => :boolean, :label => _("By SMS"), :input_html => {:class => "auto_width"}
.table-box.by_email
  .table-box-t
    .holder
      .forms-block
        %h4= _("Send following message to %{guests_count}") % {:guests_count => sms_count}
        klsadfj;klasjf;aksjf;askljf