%tr[guest]

  - info_table_column(1) do
    %label{ :for => "name-1" }
      - link_to_inline_edit(guest, :name)

  - info_table_column(2) do
    - link_to_inline_edit(guest, :email, guest.email_invitation_sent_at ? "invitation-sent" : "")

  - info_table_column(3) do
    - link_to_inline_edit(guest, :mobile_phone, guest.sms_invitation_sent_at ? "invitation-sent" : "")

  - info_table_column("4-short") do
    - guest_remote_rsvp(@event, guest)

  - info_table_column("4a-short") do
    - link_to_inline_edit(guest, :attendees_count)

  - info_table_column(5) do
    - if_not_blank_editable_property(:send_email, :email, guest, guest.email_invitation_sent_at)

  - info_table_column(6) do
    - if_not_blank_editable_property(:send_sms, :mobile_phone, guest, guest.sms_invitation_sent_at)

  - info_table_column do
    != link_to_remove_guest(guest)