%tr[guest]

  - info_table_column(1) do
    %label{ :for => "name-1" }
      - link_to_inline_edit(guest, :name)
      - if guest.suggested_name
        %div
          = _("Suggested:")
          - link_to_use_suggestion(@event, guest, :name, guest.suggested_name)

  - info_table_column(2) do
    - link_to_inline_edit(guest, :email, email_class(guest))

  - info_table_column(3) do
    - link_to_inline_edit(guest, :mobile_phone, guest.invitation_sent_or_scheduled?(:sms) ? "invitation-sent" : "")

  - info_table_column("4-short") do
    - guest_remote_rsvp(@event, guest)

  - info_table_column("4a-short") do
    - link_to_inline_edit(guest, :attendees_count)

  - info_table_column(5) do
    - if guest.invitation_sent_or_scheduled?(:email)
      - readonly_state(guest.email.blank? ? nil : guest.send_email?, guest, :email)
    - else
      - change_or_edit_property(:send_email, :email, guest)

  - info_table_column(6) do
    - if guest.invitation_sent_or_scheduled?(:sms)
      - readonly_state(guest.mobile_phone.blank? ? nil : guest.send_sms?, guest, :sms)
    - else
      - change_or_edit_property(:send_sms, :mobile_phone, guest)

  - info_table_column do
    != link_to_remove_guest(guest)