#list_holder
  %ul.contact-list.contact-list1
    %li.mail
      %a{ :href => new_event_guest_importer_path(@event, :source => "email")}
        %strong
          %span
            = _("Import from mail")
    - unless @event.user.contacts.blank?
      %li.address-book
        %a{ :href => new_event_guest_importer_path(@event, :source => "addressbook")}
          %strong
            %span= _("Import from eventify's address book")
  %span.add_manually
    = _("or")
    != link_to_function _("Add manually:"), "jQuery('.guest_list').show();jQuery('.add_manually').hide();"

:javascript
  jQuery(function(){
    jQuery("ul.contact-list li a").click(function(){
      var url = jQuery(this).attr("href");
      show_nyro_loading(function(){jQuery.ajax({url: url, type: "get", dataType:'script'});});
      return false;
    });
  })
