%h3
  Events
  (
  = collection.total_entries
  )

%table
  %tr
    %th ID
    %th Name
    %th User
    %th Guests
    %th Emails
    %th SMSs
    %th Emails Program
    %th SMS Program
    %th Prints Program
    %th Paid
    %th Created
    %th Email Token
  != render collection

!= will_paginate(collection)
