- fields_for "design[classification_attributes][]", classification do |c_form|
  .category
    != c_form.select :category_id, categories_for_select, {}, :index => nil
    != c_form.hidden_field :_delete, :index => nil
    - unless classification.new_record?
      != c_form.hidden_field :id, :index => nil
    != link_to_function "remove category", "jQuery(this).parents('.category').hide().find('input[type=hidden]:first').val('true')"
    .clear{:style => "display:block"}
      %br