%h3 Designs

!= link_to "New", new_admin_design_path

%table
  %tr
    %th ID
    %th Category
    %th Text (upper left)
    %th Preview
    %th in_carousel
    %th Designer Name - id
    %th &nbsp;
    %th &nbsp;
    %th &nbsp;
  != render(:partial => @designs)

!= will_paginate(@designs)