%h1 New Design

- semantic_form_for(@design, :live_validations => false, :url => admin_designs_path, :html => {:multipart => true}) do |f|
  = f.object.errors.on(:base)

  != render :partial => "form", :locals => { :f => f }

  != f.submit "Save"
  != link_to "Cancel", admin_designs_path
