- popup_title(_("New Reminder to Guests"))

- form_remote_for :reminder, resource, :builder => InlineErrorFormBuilder::Builder, :html => {:class => "download-form upload-form form"}, :url => event_reminders_path(@event) do |f|
  != render(:partial => "reminders/form", :locals => {:f => f})

  .popup-btns.popup-btns-alt
    != link_to_function _("Save"), "jQuery(this).parents('form').get(0).onsubmit();", :class => "btn"
    != link_to _('Cancel'), event_reminders_path(@event), :class => "btn back-btn"