<span  style="font-size:16px;font-weight:bold;color:#41BDCD;font-family:arial;line-height:110%;">שלום <%= h(@guest.name)%>,</span>
<br/><br/>
<%= h(@message.subject) %>
<br/><br/>
<%= h(@message.body) %>
<br/>
בברכה,
<br/>
<%= h(@guest.event.user.name) %>
