%thead.things-to-bring
  %tr
    %td.t-col-1
      .head-cell
        %span= _("Name")
    %td.t-col-2
      .head-cell
        %span= _("Amount")
    %td.t-col-3
      .head-cell
        %span= _("Who brings")      
    %td.last
      .head-cell
        %span &nbsp;