html{font-size:100.01%;}
body {
	font:64% Arial, Helvetica, sans-serif;
	background:#fff;
	min-width: 1000px;
	margin:0;
	color:#523733;
	padding-bottom: 33px;
}
input,
textarea,
select{
	font:100% arial,sans-serif;
	vertical-align:middle;
}
form, fieldset {
	border: 0;
	margin:0;
	padding:0;
}
img {border:none;}
a{
	text-decoration: none;
	color: #523733;
}
a:hover{ text-decoration: underline;}
a:focus{outline:none;}
p{margin:0;}
#wrapper {
	position: relative;
	width: 100%;
}
.hebrew #wrapper {
	direction:rtl;
}
.outtaHere{
	position:absolute;
	left:-9999px;
}
.hebrew .outtaHere{
	position:absolute;
	right:-9999px;
}
#main {
	display:table;
	overflow: hidden;
	width: 100%;
}
#header {
	background: #523733;
	display:table-header-group;
	width:100%;
	min-width: 1000px;
	top:0;
	left:0;
}
#header .header-area {
	position: relative;
	width:969px;
	margin: 0 auto;
	padding: 0 9px;
	min-height:117px;
	z-index: 100;
}
* html #header .header-area {
	height: 117px;
	overflow: visible;
}
.logo {
	background: url(/images/logo.gif) no-repeat;
	width:198px;
	height:54px;
	position: absolute;
	top:16px;
	left:401px;
	text-indent: -9999px;
	overflow: hidden;
}
.hebrew .logo  {
	left:398px;
}
.logo a {
	display: block;
	height: 100%;
}
.search-form {
	position: absolute;
	top:78px;
	left:371px;
	width: 281px;
}
.hebrew .search-form{ left:339px;}
.search-btn {
	float: right;
	margin: 3px 0 0;
}
.hebrew .search-btn {float: left;}
.input-bg {
	background: url(/images/bg-input.gif) no-repeat;
	width:240px;
	height:23px;
	float: left;
	padding: 1px 7px 1px 6px;
}
.hebrew .input-bg {float: right;}
.search-form input.text {
	float: left;
	margin: 0;
	font-size: 12px;
	line-height: 15px;
	color: #7f7f7f;
	font-weight: bold;
	padding: 4px 5px;
	border: none;
	background: none;
	width: 230px;
}
.hebrew .search-form input.text {
	padding-right:2px;
	width: 235px; 
}
#top-nav {
	margin: 17px 0 0;
	padding: 0;
	float: left;
	width: 125px;
	border-top: 1px solid #644b48;
}
.hebrew #top-nav {float: right;}
#top-nav li{
	border-bottom: 1px solid #644b48;
	list-style: none;
	width: 125px;
	float: left;
}
#top-nav li a{
	display: block;
	width:121px;
	height:42px;
	padding: 0 18px 0 21px;
	margin:-9px -22px -7px -10px;
	position: relative;
	cursor: pointer;
	color: #56c8d7;
	font-size: 1.2em;
	line-height:42px;
	font-weight: bold;
}
#top-nav li.active {
	position:relative;
}
.hebrew #top-nav li a {	margin:-9px -10px -7px -22px;}
#top-nav li.active .popup{ display: block;}
#top-nav li.active a{
	z-index: 20;
	color: #523733 !important;
	text-decoration: none;
	background: url(/images/top-nav-btn-h.png) no-repeat !important;
}
#top-nav li a:hover{
	z-index: 19;
	color: #fff;
	text-decoration: none;
	background: url(/images/bg-top-nav-h-en.png) no-repeat;
} 
.hebrew #top-nav li a:hover {background: url(/images/bg-top-nav-h.png) no-repeat;}
.popup {
	position: absolute;
	top:-9px;
	left:129px;
	background: url(/images/none.gif);
	width: 529px;
	z-index: 100;
	display: none;
}
.hebrew .popup {
	left:-525px;
}
.popup-t{
	overflow: hidden;
	height: 37px;
	background: url(/images/bg-popup-t-en.png) no-repeat;
	width: 524px;
	margin: 0 0 0 5px;
}
.hebrew .popup-t {
	margin: 0 5px 0 0;
	background: url(/images/bg-popup-t.png) no-repeat;
}
.popup-c {
	width: 100%;
	background: url(/images/bg-popup-c.png) repeat-y;
}
.popup-content{
	overflow: hidden;
	height:1%;
	padding: 0 10px 0 26px;
	position:relative;
}
.popup-b {
	background: url(/images/bg-popup-b.png) no-repeat;
	height: 15px;
	overflow: hidden;
}
#top-nav li .popup ul{
	padding: 0 0 0 10px;
	float: left;
	margin: 0;
	width: 150px;
}
#top-nav li .popup ul li{
	padding: 0;
	padding: 0 0 11px 20px;
	background: url(/images/ico-arrow-en.gif) no-repeat;
	float: none;
	border: none;
	width: auto;
	list-style: none;
	width:130px;
	vertical-align:top;
	height:1%;
}
.hebrew #top-nav li .popup ul li {
	background: url(/images/ico-arrow.gif) no-repeat 100% 0;
	padding: 0 20px 11px 0;
}
#top-nav li .popup ul li a{
	margin: 0;
	padding: 0;
	background: none !important;
	width: auto;
	height: auto;
	position: static;
	color: #523733;
	font-size: 1.2em;
	line-height:1em;
	font-weight: normal;
}
#top-nav li .popup ul li a:hover{ text-decoration:underline;}
.blue-btn {
	margin: 77px 0 0;
	background: url(/images/btn-blue-l.gif) no-repeat;
	float: right;
}
.hebrew .blue-btn{float: left;}
.content-h {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.blue-btn span{
	font-weight: bold;
	color: #fff;
	height: 25px;
	line-height: 25px;
	padding: 0 15px;
	font-size:1.2em;
	float: left;
	cursor: pointer;
	background: url(/images/btn-blue-r.gif) no-repeat 100% 0;
}
.blue-btn:hover{text-decoration: none;}
#top-nav li .popup a.close{
	position: absolute;
	top:13px;
	right:13px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(/images/btn-close.gif) no-repeat  !important;
	width: 17px;
	height: 17px;
	text-indent: -9999px;
}
.hebrew #top-nav li .popup a.close {
	right: auto;
	left:13px;
}
.personal-menu-w {
	position: absolute;
	top:0;
	right:9px;
}
.hebrew .personal-menu-w {
	left:9px;
	right: auto;
}
.personal-menu {
	margin: 14px 0 0;
	padding: 5px 0 0;
	background: url(/images/bg-personal-menu-t.png) no-repeat;
	float:left;
	width: 175px;
}
.personal-menu-c {
	background: #6b5854;
	width: 154px;
	padding: 10px 9px 2px 13px;
}
.personal-menu-c:after {
	display: block;
	content: "";
	clear: both;
}
.personal-menu-b {
	background: url(/images/bg-personal-menu-b.png) no-repeat;
	height: 5px;
	width: 175px;
	overflow: hidden;
}
.personal-menu a.exit {
	text-decoration: underline;
	float:right;
	margin: -7px 0 0;
	color: #41bdcd;
}
.hebrew .personal-menu a.exit{
	float: left;
	color: #fff;
}
.personal-menu a.exit:hover{ text-decoration: none;}
.personal-menu strong{
	color: #fff;
	font-size: 1.2em;
}
.personal-menu p{
	margin: 0;
	padding: 0 0 2px;
	color: #fff;
	font-size: 12px;
}
.personal-menu p a{
	text-decoration: underline;
	color: #fff;
}
.personal-menu p a:hover{ text-decoration: none;}
.personal-menu-h {
	position: relative;
	margin: 8px -2px 0 -6px;
	overflow: hidden;
	width: 162px;
	background:#51a7b3 url(/images/bg-personal-menu-h-t.gif) no-repeat;
}
.personal-menu-h-frame {
	padding: 0 9px 0 11px;
	background: url(/images/bg-personal-menu-h-b.gif) no-repeat 0 100%;
}
.personal-menu-h-frame .menu-list{
	width:100%;
	position:relative;
	overflow:hidden;
	display:none;
}
.opener {
	overflow: hidden;
	width:100%;
	padding: 6px 0;
}
.opener a{
	color: #fff;
	font-weight: bold;
	padding: 0 17px 0 0;
	font-size: 1.2em;
	display: block;
	background: url(/images/bg-arrow-down.gif) no-repeat 100% 5px;
}
.hebrew .opener a {
	background: url(/images/bg-arrow-down.gif) no-repeat 0 5px;
	padding: 0 0 0 17px;
}
.personal-menu-h ul{
	margin: 0;
	padding: 4px 0 6px;
	list-style: none;
	width:100%;
	overflow:hidden;
}
.open  ul{ display: block;}
.personal-menu-h ul li{
	padding: 4px 0;
	width:100%;
	border-top: 1px solid #9fcdd3;
	vertical-align:top;
}
.personal-menu-h ul li a{
	font-size: 1.2em;
	padding: 0 17px 0 0;
	color: #fff;
}
.hebrew .personal-menu-h ul li a {padding: 0;}
.personal-menu-h ul li a:hover{
	font-weight: bold;
	text-decoration: none;
}
#content {
	background: url(/images/bg-content.gif) repeat-x;
	overflow: hidden;
	display:table-footer-group;
}
.stars-bg {background:#fff url(/images/bg-stars.gif) repeat-x !important;}
#content .content-area {
	width: 969px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 9px 44px;
}
.stars-bg .content-area{
	min-height: 680px;
	padding-bottom: 31px !important;
}
* html .stars-bg .content-area {
	overflow: visible !important;
	height: 680px;
}
.promo {
	width: 969px;
	overflow: hidden;
	margin: 12px 0 0 0;
	background: url(/images/bg-promo-c.gif) repeat-y;
}
.promo-t {background: url(/images/bg-promo-t.jpg) no-repeat;}
.promo-b {
	padding: 17px 0 0;
	overflow: hidden;
	height: 1%;
	background: url(/images/bg-promo-b.gif) no-repeat 0 100%;
}
.promo-gallery {
	width: 718px;
	margin: 0 0 0 116px;
	overflow: hidden;
}
.hebrew .promo-gallery { margin: 0 135px 0 0;}
.promo-gallery  img{ display: block;}
.promo-nav {
	background: url(/images/bg-promo-nav.jpg) no-repeat 0 100%;
	height: 48px;
	width: 969px;
	margin: -3px 0 0;
	position:relative;
}
a.prev,
a.next{
	float: left;
	overflow: hidden;
	text-indent: -9999px;
	width: 34px;
	height: 32px;
	float: left;
	background: url(/images/btn-arrow-l.gif) no-repeat 13px 8px;
	margin: 16px 0 0;
	text-decoration: none;
}
a.next {
	width: 33px;
	background: url(/images/btn-arrow-r.gif) no-repeat 10px 8px;
}
.promo-nav-h {
	float: left;
	width: 900px;
	overflow: hidden;
	position:relative;
	margin:0 1px;
	display:inline;
}
.hebrew a.prev,
.hebrew a.next {
	float: right;
	background: url(/images/btn-arrow-r.gif) no-repeat 10px 8px;
}
.hebrew a.next {
	width: 33px;
	background: url(/images/btn-arrow-l.gif) no-repeat 10px 8px;
}
.hebrew .promo-nav-h {float: right;}
.promo-nav ul{
	width: 99999px;
	margin: 0;
	padding: 0;
	position:relative;
	overflow:hidden;
}
.promo-nav ul li{
	background: url(/images/bg-promo-nav-sep.gif) no-repeat 0 17px;
	float: left;
	list-style: none;
	width:150px;
	overflow:hidden;
}
.hebrew .promo-nav ul li{float: right;}
.promo-nav ul li a{
	text-align: center;
	padding: 16px 0 0;
	height: 32px;
	float: left;
	color: #fff;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 31px;
	width: 150px;
}
.promo-nav ul li.active a,
.promo-nav ul li a:hover{
	text-decoration: none;
	color: #523733;
	background: url(/images/bg-promo-nav-hov.gif) no-repeat;
}
.container {
	background: url(/images/bg-container.gif) repeat-x 0 100%;
	margin: 22px 0 0;
	overflow: hidden;
	clear: both;
	width: 100%;
	padding: 0 0 29px;
}
.main-box {
	padding: 0 15px 0 3px;
	width: 333px;
	float: left;
	border-right: 1px solid #dcd7d6;
	min-height: 134px;
}
* html .main-box { height: 134px;}
.hebrew .main-box{
	float: right;
	border-left: 1px solid #dcd7d6;
	padding: 0 3px 0 24px;
	border-right: none; 
}
.main-box h1{
	font-size: 2em;
	line-height: 1.1em;
	margin: 17px 0 0;
	color: #523733;
}
.main-box p{
	margin: 0;
	padding: 6px 0 0;
	font-size: 1.2em;
	line-height: 1.4em;
}
.box {
	border-right: 1px solid #dcd7d6;
	float: left;
	width: 182px;
	padding: 0 5px 0 14px;
	min-height: 134px;
}
.hebrew .box{
	width: 189px;
	padding: 0 7px 0 5px;
	float: right;
	border-right: none;
	border-left: 1px solid #dcd7d6;
}
* html .box { height: 134px;}
.box .image {margin: 0 0 0 14px;}
.hebrew .box .image {margin: 0 14px 0 0;}
.box .image  img{ display: block;}
.num {
	float: left;
	color: #e5e1e1;
	font-size: 6.5em;
	line-height: 0.9em;
	margin: 8px 10px 0 0;
}
.hebrew .num {
	margin: 8px 0 0 6px;
	float: right;
}
.text-h {overflow: hidden;}
* html .text-h {
	height: 1%;
	overflow: visible;
}
.text-h strong{
	padding: 18px 0 0;
	display: block;
	font-size: 1.3em;
}
.hebrew .text-h strong { font-size: 1.4em;}
.box p{
	margin: 0;
	padding: 2px 0 0;
	font-size: 1.1em;
}
.hebrew .box p { font-size: 1.2em;}
.popular {
	width: 969px;
	padding: 34px 8px 0;
	margin: 0 -8px;
	overflow: hidden;
	direction: ltr;
}
.popular :after {
	display: block;
	content: "";
	clear: both;
}
.col-1 ,
.col-2{
	width: 468px;
}
.col-1 {float: left;}
.col-2 { float: right;}
.img-box {
	margin:5px -7px 0;
	width: 244px;
	float: left;
	background: url(/images/bg-img-box-c.gif) repeat-y;
	direction: ltr !important;
}
.img-box-t {
	overflow: hidden;
	background: url(/images/bg-img-box-t.gif) no-repeat;
}
.img-box:hover,
.img-box.hover {
	position: relative;
	z-index: 2;
	background: url(/images/bg-img-box-c-h.gif) repeat-y;
}
.img-box:hover .img-box-t,
.img-box.hover .img-box-t{background: url(/images/bg-img-box-t-h.gif) no-repeat;}
.img-box-b {
	background: url(/images/bg-img-box-b.gif) no-repeat 0 100%;
	overflow: hidden;
	padding: 14px 13px 18px;
	width:218px;
}
.img-box:hover .img-box-b,
.img-box.hover .img-box-b {background: url(/images/bg-img-box-b-h.gif) no-repeat 0 100%;}
.img-box-1{
	float: right;
}
.col-h {
	overflow: hidden;
	height: 1%;
	padding: 4px 0;
	position: relative;
	border-bottom: 1px solid #dcd7d6;
}
.hebrew .col-h { direction: rtl;}
.col-h h2{
	font-weight: normal;
	margin: 0;
	font-size: 2em;
	color: #523733;
}
.btn-brown {
	margin:0 5px 0 0;
	float: right;
	background: url(/images/btn-brown-l.gif) no-repeat;
}
.btn-brown:hover{ text-decoration: none;}
.hebrew .btn-brown{float: left;}
.btn-brown span{
	padding: 0 13px 0 17px;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
	height: 18px;
	position: relative;
	line-height: 18px;
	float: left;
	margin: 0 -5px 0 0;
	background: url(/images/btn-brown-r.gif) no-repeat 100% 0;
}
.hebrew .btn-brown span{
	font-size: 1.2em;
	line-height: 17px;
}
.img-box .image img{ display: block;}
.blue-btn-sml {
	padding: 0 27px 0 0;
	margin: 27px 4px 0 4px;
	float: right;
	background:url(/images/btn-blue-sml-en.gif) no-repeat 100% 0;
}
.hebrew .blue-btn-sml  {
	padding: 0 0 0 32px;
	float: left;
	background:url(/images/btn-blue-sml.gif) no-repeat 0 0;
}
.blue-btn-sml span{
	padding:0 0 0 14px;
	float: left;
	height: 17px;
	line-height: 17px;
	margin: 0 0 0 -2px;
	display: inline;
	cursor: pointer;
	border: 0;
	position: relative;
	background:#f8f8f8 url(/images/btn-blue-sml-en.gif) no-repeat;
}
.hebrew .blue-btn-sml span {
	padding:0 14px 0 0;
	background:#f8f8f8 url(/images/btn-blue-sml.gif) no-repeat 100% 0;
	font-size: 1.2em;
}
.blue-btn-sml:hover{ text-decoration: none;}
.img-box:hover .blue-btn-sml,
.img-box.hover .blue-btn-sml {
	color: #fff;
	background-position: 100% -17px;
}
.img-box:hover .blue-btn-sml span,
.img-box.hover .blue-btn-sml span{background-position: 0 -17px;}
.hebrew .img-box:hover .blue-btn-sml,
.hebrew .img-box.hover .blue-btn-sml {
	color: #fff;
	background-position: 0 -17px;
}
.hebrew .img-box:hover .blue-btn-sml span,
.hebrew .img-box.hover .blue-btn-sml span{background-position: 100% -17px;}
.plus {
	overflow: hidden;
	text-indent: -9999px;
	background: url(/images/ico-plus.gif) no-repeat;
	width: 25px;
	height: 21px;
	float: left;
	display: inline;
	visibility: hidden;
	margin: 23px 6px 0;
}
.hebrew .plus {
	float: right;
}
.img-box:hover .plus,
.img-box.hover .plus{ visibility: visible;}
.h-container {
	width: 983px;
	margin: 23px -7px 0;
	position: relative;
}
.h-container .t{
	width: 100%;
	background: url(/images/bg-h-container-t.png) no-repeat;
	height: 12px;
	overflow: hidden;
}
.h-container .c{
	width: 100%;
	display: table;
	background: url(/images/bg-h-container-c.png) repeat-y;
}
.h-container .b{
	background: url(/images/bg-h-container-b.png) no-repeat;
	height:89px;
	width: 100%;
}
.h-container-content {
	padding: 0 8px;
	overflow: hidden;
	height: 1%;
	margin:-7px 0 0;
	position: relative;
}
.tabset-nav{
	background: url(/images/bg-tab-nav.gif ) no-repeat;
	height:84px;
	width:957px;
	overflow: hidden;
	margin: 0;
	padding: 0 5px;
	list-style: none;
}
.tabset-nav li{
	background: url(/images/bg-tab-nav-sep.gif) no-repeat;
	float: left;
	position: relative;
}
.hebrew .tabset-nav li{
	float: right;
	background: url(/images/bg-tab-nav-sep.gif) no-repeat 100% 0;
}
.tabset-nav li:first-child{background: none;}
.tabset-nav li a{
	float: left;
	font-weight: bold;
	color: #41bdcd;
	text-decoration: none;
}
.tabset-nav li a:hover{ text-decoration: none;}
.tabset-nav li.active a{
	color: #523733;
	background: url(/images/bg-tab-nav-item-l.gif) no-repeat;
}
.tabset-nav li a span{
	cursor: pointer;
	padding: 0 40px 0 64px;
	height: 84px;
	display: table;
	vertical-align: middle;
	float: left;
}
.hebrew  .tabset-nav li a span { padding: 0 82px 0 60px;}
.tabset-nav li.active a span{
	background: url(/images/bg-tab-nav-item-r.gif) no-repeat 100% 0;
}
.tabset-nav li a span strong{
	text-align: center;
	font-size: 31px;
	background: url(/images/ico-step.gif) no-repeat;
	width: 44px;
	overflow: hidden;
	height: 44px;
	line-height: 44px;
	color: #fff;
	position: absolute;
	top:19px;
	left:13px;
}
.hebrew .tabset-nav li a span strong {
	left: auto;
	right: 13px;
}
.tabset-nav li.done a span strong {
	font-size: 0;
	line-height: 0;
	background-position: 0 -44px;
}
.tabset-nav li.active a span strong { background-position: 0 -88px;}
.tabset-nav li a span em{
	font-style: normal;
	font-size: 16px;
	line-height: 18px;
	display: table-cell;
	vertical-align: middle;
}
.content-section {
	overflow: hidden;
	height: 1%;
	padding: 26px 34px 22px 43px;
}
.hebrew .content-section {padding: 26px 38px 22px 38px;}
.content-section-heading {
	width: 100%;
	overflow: hidden;
	clear: both;
	border-bottom: 1px solid #d4d1ce;
	margin-bottom: 30px;
	padding-bottom: 16px;
}
.content-section-heading h1{
	margin: 0;
	font-size: 1.8em;
	line-height: 1.1em;
	color: #523733;
	font-weight: normal;
}
.twocolumns {width: 100%;}
.twocolumns:after {
	display: block;
	content: "";
	clear: both;
}
.side-area {
	float: left;
	width: 295px;
}
.hebrew .side-area {float: right;}
.form label{
	color: #523733;
	font-size: 1.2em;
	line-height: 1em;
	float: left;
	width: 72px;
	font-weight: bold;
	padding: 4px 3px 0 0;
}
.hebrew .form label {
	float: right;
	padding: 4px 0 0 3px;
}
.form legend{display: none;}
.form-items-h {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 1%;
}
.form-items-h li{
	float: left;
	overflow: hidden;
	width: 100%;
	margin-bottom: 8px;
}
.input-bg-alt {
	padding: 0 5px;
	width: 210px;
	float: left;
	height: 24px;
	overflow: hidden;
	background:url(/images/bg-input-alt.gif) no-repeat;
}
.input-bg-alt-active{
	background-position:0 -48px !important;
}
.form-items-h li.error .input-bg-alt { background-position: 0 -24px !important;}
.error-msg {
	margin: 0;
	color: #e30022;
	font-size: 1.1em;
	padding: 0 0 4px 76px;
}
.hebrew .error-msg {padding: 0 76px 4px 0;}
.form .input-text{
	margin: 0;
	float: left;
	padding: 4px 5px;
	background: none;
	width: 200px;
	border: none;
	font-size: 11px;
	line-height: 15px;
}
.hebrew .input-bg-alt { float: right;}
.hebrew .input-text{ float: right;}
span.note {
	display: block;
	padding: 5px 0 0;
	letter-spacing: -1px;
}
.input-text-middle{
	float: left;
	margin: 0 4px 0 0;
	width: 133px;
	background: url(/images/bg-input-alt-middle.gif) no-repeat;
}
.input-text-middle-active{ background-position:0 -48px !important;}
.error .input-text-middle{ background-position:0 -24px !important;}
.hebrew .input-text-middle{
	float: right;
	margin: 0 0 0 4px;
}
.input-text-middle .input-text {width: 123px;}
.form select{
	float: left;
	width: 220px;
	font-size: 11px;
	line-height: 15px;
}
.form .selectArea{
	float:left;
	height:24px;
	position:relative;
	overflow:hidden;
}
.hebrew .form .selectArea{ float:right;}
.form .middle-replaced,
.form .short-replaced,
.form .middle-alt-replaced,
.form .marg-replaced{ margin-right:4px;}
.hebrew .form .middle-replaced,
.hebrew .form .short-replaced,
.hebrew .form .middle-alt-replaced,
.hebrew .form .marg-replaced{
	margin-right:0;
	margin-left:4px;
}
.selectArea .left{
	position:absolute;
	left:0;
	top:0;
	width:10px;
	height:100%;
	background:url(/images/bg-select1-l.gif) no-repeat;
	z-index:1;
}
.hebrew .selectArea .left{
	float:left;
	left: auto;
	right:0;
	background:url(/images/bg-select2-r.gif) no-repeat;
}
.selectArea .center{
	height:24px;
	line-height:24px;
	font-size:12px;
	color:#523733;
	margin:0 20px 0 5px;
	padding:0 5px 0 3px;
	background:url(/images/bg-select-m.gif) repeat-x;
	position:relative;
	z-index:2;
}
.hebrew .selectArea .center{
	margin:0 5px 0 20px;
	padding:0 3px 0 5px;
}
.selectArea .selectButton{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-indent:-6666px;
	overflow:hidden;
	direction:ltr;
	background:url(/images/bg-select1-r.gif) no-repeat 100% 0;
	z-index:3;
}
.hebrew .selectArea .selectButton{ background:url(/images/bg-select2-l.gif) no-repeat;}
.selectOptions{
	background:#fff;
	z-index:10;
}
.selectOptions .bg-t,
.selectOptions .bg-b{
	width:100%;
	overflow:hidden;
	height:0;
}
.selectOptions ul{
	color:#523733;
	font-size:12px;
	padding:0;
	list-style:none;
	border:1px solid #d6d6d6;
	border-top:none;
	margin:1px;
}
.selectOptions ul li{
	width:100%;
	vertical-align:top;
	border-top:1px solid #d6d6d6;
}
.selectOptions ul a{
	color:#523733;
	text-decoration:none;
	padding:2px 4px;
	margin:1px;
	background:#fff;
	display:block;
}
* html .selectOptions ul a{
	height:1%;
}
.selectOptions ul a:hover{
	text-decoration:none;
	color:#fff;
	background:#523733;
}

.hebrew .form select { float: right;}
.form select.middle {
	width: 76px;
	margin-right: 4px;
}
.hebrew .form select.middle {
	margin-left: 4px;
	margin-right:0;
}
.form select.middle-alt {
	width: 66px;
	margin-right: 4px;
}
.hebrew .form select.middle-alt{
	margin-left: 4px;
	margin-right:0;
}
.form select.short{
	width: 47px;
	margin-right: 4px;
}
.hebrew .form select.short {
	margin-left: 4px;
	margin-right:0;
}
.calendar {
	background: url(/images/ico-calendar.gif) no-repeat;
	width: 17px;
	height: 18px;
	overflow: hidden;
	float: left;
	text-indent: -9999px;
	margin-top:3px;
	direction:ltr;
}
.hebrew .calendar { float: right;}
.form select.marg { margin-right: 1px;}
.f-row {
	overflow: hidden;
	height: 1%;
	clear: both;
	padding: 9px 0 6px;
}
.add-link {
	background: url(/images/icon-plus.gif) no-repeat 0 3px;
	padding: 0 0 0 14px;
}
.hebrew .add-link {
	background-position: 100% 3px;
	padding: 0 14px 0 0;
	font-size: 1.1em;
	float: right;
}
.check-h {
	overflow: hidden;
	height: 1%;
	clear: both;
	padding: 2px 0 0;
}
.form .check-h label {
	display: block;
	height: 1%;
	overflow: hidden;
	font-size: 1em;
	line-height: 1.1em;
	width: auto;
	padding: 2px 0 0;
	font-weight: normal;
}
.input-check {
	float: left;
	display: inline;
	margin: 0 5px 0 0;
	padding: 0;
	width: 16px;
	height: 15px;
}
.checkboxArea, .checkboxAreaChecked{
	width:11px;
	height:11px;
	background:url(/images/bg-checkbox.gif) no-repeat;
	float:left;
	margin:2px 7px 0 2px;
	text-indent:-6666px;
	overflow:hidden;
	display:inline;
}
.checkboxAreaChecked{ background-position:0 -11px;}
.hebrew .input-check {
	float: right;
	margin: 0 0 0 5px;
}
.hebrew .checkboxArea, 
.hebrew .checkboxAreaChecked{
	float:right;
	margin:2px 2px 0 7px;
}
.info-table thead td .checkboxArea,.info-table thead td .checkboxAreaChecked { margin-top: 5px;}
.hebrew .info-table thead td .checkboxArea, .hebrew .info-table thead td .checkboxAreaChecked { margin-top: 5px;}
.divider {
	height: 1px;
	overflow: hidden;
	background:#e3ddd7;
	margin: 12px 10px 5px 0;
}
.hebrew .divider { margin: 12px 0 5px 10px;}
.form .text label{
	float: none;
	display: block;
	width: auto;
	padding: 0 0 9px;
}
.form .text span.note { letter-spacing: 0;}
.textarea-bg {
	overflow: hidden;
	background: url(/images/bg-textarea.gif) no-repeat;
	width:283px;
	height:96px;
	padding: 4px 5px 2px 0;
}
.hebrew .textarea-bg {padding: 4px 0 2px 5px;}
.textarea-bg textarea{
	overflow: auto;
	width: 278px;
	height: 93px;
	font-size: 11px;
	line-height: 15px;
	border: none;
	background: none;
	margin: 0;
	padding: 0 0 0 5px;
	float: left;
}
.hebrew .textarea-bg textarea { padding: 0 5px 0 0;}
.visual-box {
	width: 579px;
	float: right;
	background: url(/images/bg-visual-box-c.gif) repeat-y;
}
.hebrew .visual-box {float: left;}
.visual-box .holder{background: url(/images/bg-visual-box-t.gif) no-repeat;}
.visual-box .frame {
	overflow: hidden;
	height: 1%;
	padding: 11px 10px 20px;
	background: url(/images/bg-visual-box-b.jpg) no-repeat 0 100%;
	position: relative;
}
.image-h{position: relative;}
.image-h img{
	margin:0 0 0 2px;
	display: block;
}
.info-holder {
	top:100px;
	left:232px;
	width: 170px;
	position: absolute;
}
.hebrew .info-holder {
	top:150px;
	left: auto;
	right:202px;
}
.info-holder h3{
	margin: 0;
	font-size: 1.8em;
	line-height: 1em;
	font-weight: normal;
}
.info-holder ul{
	margin: 0;
	padding: 4px  0 0;
	list-style: none;
	font-size: 1.2em;
}
.info-holder ul li{
	padding: 0 0 5px;
}
.info-holder ul strong{
	font-weight: normal;
	padding: 0 3px 0 0;
}
.hebrew .info-holder ul strong {padding: 0 0 0 3px;}
.blue-btn-mdl {
	padding: 0 32px 0 0;
	margin: 15px 4px 0 4px;
	float: left;
	font-size: 1.2em;
	background:url(/images/btn-blue-mdl-en.gif) no-repeat 100% 0;
}
.hebrew .blue-btn-mdl  {
	padding: 0 0 0 32px;
	float: right;
	font-size: 1.1em;
	background:url(/images/btn-blue-mdl.gif) no-repeat 0 0;
}
.blue-btn-mdl span{
	padding:0 0 0 13px;
	float: left;
	height: 26px;
	line-height: 25px;
	margin: 0 0 0 -2px;
	font-weight: bold;
	display: inline;
	cursor: pointer;
	border: 0;
	position: relative;
	background:#f8f8f8 url(/images/btn-blue-mdl-en.gif) no-repeat;
}
.hebrew .blue-btn-mdl span {
	padding:0 13px 0 0;
	background:#f8f8f8 url(/images/btn-blue-mdl.gif) no-repeat 100% 0;
	font-size: 1.2em;
}
.blue-btn-mdl:hover{ text-decoration: none;}
.btns {
	overflow: hidden;
	padding: 31px 345px 0;
	position: relative;
}
* html .btns{
	overflow: visible;
	height: 1%;
}
.previous-btn ,
.next-btn {
	font-size: 1.8em;
	width: 123px;
	text-align: center;
	color: #fff;
	height: 28px;
	overflow: hidden;
}
.previous-btn{
	padding: 8px 0 0 20px;
	float: left;
	background: url(/images/btn-arrow-l-1.gif) no-repeat;
}
.hebrew .previous-btn{
	padding: 8px 20px 0 0;
	float: right;
	background: url(/images/btn-arrow-r-1.gif) no-repeat;
}
.next-btn {
	padding: 8px 20px 0 0;
	float: right;
	background: url(/images/btn-arrow-r-1.gif) no-repeat;
}
.hebrew .next-btn {
	padding: 8px 0 0 20px;
	background: url(/images/btn-arrow-l-1.gif) no-repeat;
	float: left;
}
.previous-btn:hover,
.next-btn:hover {
	text-decoration: none;
	background-position: 0 -36px;
}
.stage-3 .content-section{
	padding: 16px 36px 15px;
}
.info-area {
	overflow: hidden;
	width: 894px;
}
.info-area-nav {
	width: 100%;
	clear: both;
	overflow: hidden;
	margin: 0 0 -1px;
	padding: 0;
	position: relative;
}
.info-area-nav li{
	padding: 0 4px 0 0;
	float: left;
	list-style: none;
}
.hebrew .info-area-nav li{
	float: right;
	padding: 0 0 0 4px;
}
.info-area-nav li a{
	background: url(/images/bg-info-area-nav.gif) no-repeat;
	padding: 15px 4px 0 16px;
	color: #523733;
	font-size: 18px;
	display: block;
	width: 170px;
	height: 32px;
}
.hebrew .info-area-nav li a {padding: 15px 16px 0 4px;}
.info-area-nav li.active a,
.info-area-nav li a:hover{
	background-position: 0 -47px;
	text-decoration: none;
}
.info-area-tab {
	overflow: hidden;
	width: 894px;
	background: url(/images/bg-info-area-tab-c.gif) repeat-y;
}
.info-area-tab .holder {background: url(/images/bg-info-area-tab-t.gif) no-repeat;}
.hebrew .info-area-tab .holder {background: url(/images/bg-info-area-tab-t-hebrew.gif) no-repeat;}
.info-area-tab .frame {
	overflow: hidden;
	height: 1%;
	padding: 0 15px 25px;
	background: url(/images/bg-info-area-tab-b.gif) no-repeat 0 100%;
}
.info-area-tab h3{
	margin: 0;
	padding: 19px 0 6px;
	font-size: 1.2em;
	color: #523733;
}
.contact-list {
	overflow: hidden;
	height: 51px;
	margin: 0;
	padding: 0 0 10px;
	list-style: none;
}
.contact-list li {
	padding: 0 5px 0 0;
	float: left;
}
.hebrew .contact-list li{
	padding: 0 0 0 5px;
	float: right;
}
.contact-list li a{
	width: 161px;
	font-size: 12px;
	color: #523733;
	background: url(/images/bg-contact-list.gif) no-repeat;
	display:table;
}
.contact-list li.address-book a {
	width: 167px;
	background: url(/images/bg-contact-list-lrg.gif) no-repeat;
}
.contact-list li a strong{
	font-weight: normal;
	display: table-cell;
	height: 51px;
	padding: 0 5px 0 46px;
	vertical-align: middle;
	cursor: pointer;
}
.hebrew .contact-list li a strong {padding: 0 46px 0 5px;}
.contact-list li a span{cursor: pointer;}
.contact-list li.event a strong {background: url(/images/ico-event.gif) no-repeat 8px 9px;}
.contact-list li.mail strong { background: url(/images/ico-email.gif) no-repeat 8px 9px;}
.contact-list li.file strong { background: url(/images/ico-csv.gif) no-repeat 8px 9px;}
.contact-list li.address-book strong{ background: url(/images/ico-address-book.gif) no-repeat 8px 9px;}
.contact-list li.facebook strong { background: url(/images/ico-face.gif) no-repeat 8px 9px;}

.hebrew .contact-list li.event a strong {background: url(/images/ico-event.gif) no-repeat 127px 9px;}
.hebrew .contact-list li.mail strong { background: url(/images/ico-email.gif) no-repeat 122px 9px;}
.hebrew .contact-list li.file strong { background: url(/images/ico-csv.gif) no-repeat 127px 9px;}
.hebrew .contact-list li.address-book strong{ background: url(/images/ico-address-book.gif) no-repeat 127px 9px;}
.hebrew .contact-list li.facebook strong { background: url(/images/ico-face.gif) no-repeat 127px 9px;}
.contact-list li a strong em{
	font-size: 10px;
	font-style: normal;
}
.contact-list li a:hover{
	background-position:  0 -51px;
	text-decoration: none;
}
.info-table {
	margin: 2px 0 11px;
	padding: 0;
	border-collapse: collapse;
	width: 100%;
}
.info-table td{
	margin: 0;
	padding:0;
	vertical-align:top;
	background: url(/images/bg-divider.gif) no-repeat 0 100%;
	border-bottom: 1px solid #cecece;
}
.hebrew .info-table td  {background: url(/images/bg-divider.gif) no-repeat 100% 100%;}
.info-table td label{ float: left;}
.hebrew .info-table td label{ float: right;}
.info-table thead td label{
	padding: 3px 0 0;
	font-size: 12px;
	float:left;
}
.info-table thead td span{font-size: 1.2em;}
.info-table thead td label.l-email {
	padding: 2px 0 0 17px;
	background: url(/images/ico-mail.gif) no-repeat 0 6px;
}
.hebrew .info-table thead td label.l-email {
	padding: 2px 17px 0 0;
	background-position: 100% 5px;
	float: right;
}
.info-table thead td label.l-text {
	padding: 2px 0 0 17px;
	background: url(/images/ico-phone.gif) no-repeat 0 0;
}
.hebrew .info-table thead td label.l-text {
	position: relative;
	padding: 2px 17px 0 0;
	float: right;
	background: url(/images/ico-phone.gif) no-repeat 100% 0;
}
.info-table thead td {
	height: 43px;
	vertical-align: bottom;
	font-weight: bold;
	padding: 0 5px 4px;
	border: 1px solid #cecece;
	background:#f7f3ee url(/images/bg-table-head.gif) repeat-x !important;
}
.info-table td.t-col-1 {width: 168px;}
.info-table thead td.t-col-1 {width: 158px;}
.info-table td.t-col-2 {width: 172px;}
.info-table thead td.t-col-2 {width: 162px;}
.info-table td.t-col-3 {width: 150px;}
.info-table thead td.t-col-3 {width: 140px;}
.info-table td.t-col-4 { width: 105px;}
.info-table thead td.t-col-4 { width: 95px;}
.info-table td.t-col-5 { width: 107px;}
.info-table thead td.t-col-5 { width: 97px;}
.info-table td.t-col-6 { width: 107px;}
.info-table thead td.t-col-6 { width: 97px;}
.info-table thead td.last{width:43px;}
.hebrew .info-table thead td.t-col-6 a.info {
	left:6px;
}
.info-table td .cell-bg{
	overflow: hidden;
	height: 1%;
	font-size: 1.2em;
	padding: 9px 5px 9px;
	background: url(/images/bg-cell.gif) repeat-x;
}
.info-table td.last{
	background: url(/images/bg-divider-last.gif) no-repeat 0 100%;
	width: 53px;
}
.hebrew .info-table td.last{
	background: url(/images/bg-divider-last.gif) no-repeat 100% 100%;
}
a.bin {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	margin: 0 auto;
	background: url(/images/ico-bin.gif) no-repeat;
	width: 12px;
	height: 13px;
}
a.info{
	font-weight: normal;
	font-size: 11px;
	padding: 0 15px 0 0;
	background: url(/images/ico-info.gif) no-repeat 100% 0;
}
.hebrew a.info {
	background-position:0 0;
	padding: 0 0 0 15px;
}
.info-table thead td div.head-cell{
	position: relative;
	width: 100%;
}
.info-table td a.info{
	position: absolute;
	top:-14px;
	right: 6px;
}
.info-table td a.info:hover{ text-decoration: none;}
.hebrew .info-table td a.info {
	right: auto;
	left:26px;
	top:-10px;
}
.input-bg-uni {
	margin: -3px 0 -4px;
	padding: 0 0 0 4px;
	float: left;
	background: url(/images/bg-input-universal.gif) no-repeat;
}
.hebrew .input-bg-uni {
	direction: ltr;
	padding: 0 4px 0 0;
	float: left;
	background: url(/images/bg-input-universal.gif) no-repeat 100% 0;
}
.input-bg-uni div{
	padding: 0 4px 0 0;
	height: 22px;
	float: left;
	background: url(/images/bg-input-universal.gif) no-repeat 100% 0;
}
.hebrew .input-bg-uni div{
	direction: rtl;
	background: url(/images/bg-input-universal.gif) no-repeat 0 0;
}
.input-bg-uni-active { background: url(/images/bg-input-universal-active.gif) no-repeat;}
.input-bg-uni-active div{background: url(/images/bg-input-universal-active.gif) no-repeat 100% 0;}
.error .input-bg-uni { background: url(/images/bg-input-universal-error.gif) no-repeat;}
.error .input-bg-uni div { background: url(/images/bg-input-universal-error.gif) no-repeat 100% 0;}
.hebrew .input-bg-uni-active{ background: url(/images/bg-input-universal-active.gif) no-repeat 100% 0;}
.hebrew .input-bg-uni-active div{background: url(/images/bg-input-universal-active.gif) no-repeat 0 0;}
.hebrew .error .input-bg-uni {background: url(/images/bg-input-universal-error.gif) no-repeat 100% 0;}
.hebrew .error .input-bg-uni div {background: url(/images/bg-input-universal-error.gif) no-repeat;}
.info-table .error p.error-msg{
	height: 1%;
	padding: 8px 0 0;
	margin-bottom: -4px;
	clear: both;
	overflow: hidden;
	font-size: 0.9em;
}
.input-bg-uni .input-text{
	width: 148px;
	float: left;
	font-size: 12px;
	line-height: 15px;
	background: none;
	border-style: none;
	margin: 0;
	color: #a59692;
	padding: 3px 2px;
}
.active .input-bg-uni div .input-text { color: #523733;}
.info-table td.t-col-3  .input-bg-uni .input-text{ width:128px;}
.add-btn {
	font-weight: bold;
	font-size: 1.2em;
	color: #41bdcd;
	margin:  0 0 0 2px;
	text-decoration: underline; 
}
.add-btn:hover{ text-decoration: none;}
.error-msg-box {
	width: 891px;
	overflow: hidden;
	background:#f1f3c6 url(/images/bg-error-msg-t.gif) no-repeat;
	margin: -8px 0 12px;
}
.error-msg-box  div{
	padding: 11px 15px;
	overflow: hidden;
	background: url(/images/bg-error-msg-b.gif) no-repeat 0 100%;
}
.error-msg-box p{
	margin: 0;
	font-weight: bold;
	font-size: 1.2em;
	color:#e11335;
}
.categories-box {
	margin-top: 34px;
	background:#f5f1eb url(/images/bg-catigories-box-t.gif) no-repeat;
	width: 969px;
	overflow:hidden;
}
.categories-box .holder{
	padding:15px 22px 22px;
	min-height: 115px;
	background: url(/images/bg-catigories-box-b.gif) no-repeat 0 100%;
}
.categories-box .holder:after {
	display: block;
	content: "";
	clear: both;
}
* html .categories-box .holder {height: 115px;}
.categories-search-form {
	margin: 0 -7px 0 260px;
	float:right;
	width: 207px;
}
.hebrew .categories-search-form {
	float:left;
	width: 207px;
	margin:0 260px 0 -7px;
	display: inline;
}
.categories-search-form .search-btn {
	float: right;
}
.hebrew .categories-search-form .search-btn {float: left;}
.bg-input-white {
	float: left;
	background: url(/images/bg-input-white.gif) no-repeat;
	width: 168px;
	height: 25px;
	padding: 0 6px;
}
.hebrew .bg-input-white {float: right;}
.bg-input-white .input-text{
	float: left;
	margin: 0;
	padding: 5px 2px 4px;
	font-size: 12px;
	line-height: 15px;
	background: none;
	border-style:none;
	width: 163px;
	color: #7f7f7f;
	font-weight: bold;
}
.categories-box p{
	padding: 10px 0 0;
	margin: 0;
	font-size: 1.4em;
	line-height: 1.4em;
	font-weight: bold;
}
.lists-h {
	width: 948px;
	clear: both;
	overflow: hidden;
	margin: 23px 0 0 -23px;
}
.lists-h ul.list{
	width: 111px;
	float: right;
	margin: 0 0 0 24px;
	padding: 0;
	border-bottom: 1px solid #d8d7d5;
}
.lists-h ul.list li{
	padding: 4px 0 6px 23px;
	background: url(/images/ico-arrow-en.gif) no-repeat 3px 5px;
}
.hebrew  .lists-h ul.list li {
	padding: 4px 23px 6px 0;
	background: url(/images/ico-arrow.gif) no-repeat 98% 5px;
}
#footer {
	border-top: 1px solid #c9c0bf;
	background: #f5f1eb url(/images/bg-bottom-area-t.gif) repeat-x;
	width: 969px;
	margin: 0 auto;
	color: #fff;
}
.footer-area {
	padding: 24px 0 9px 10px;
	background: url(/images/bg-bottom-area-b.gif) no-repeat 0 100%;
}
.hebrew .footer-area {padding: 24px 10px 9px 0;}
.footer-area h3{
	margin: 0;
	font-size: 1.8em;
	color: #523733;
	font-weight: normal;
	padding: 0 12px;
}
.foot-lists {
	overflow: hidden;
	height: 1%;
	padding: 0 0 0 5px;
}
.hebrew .foot-lists {padding: 0 5px 0 0;}
ul.list{
	margin: 0;
	padding: 0;
}
.foot-lists  ul.list{
	width: 118px;
	float: left;
	padding: 10px 10px 0 7px;
}
.hebrew .foot-lists  ul.list {
	padding: 10px 7px 0 10px;
	float: right;
}
ul.list li{
	border-top: 1px solid #d8d7d5;
	padding: 6px 0 5px 17px;
	font-size: 1.1em;
	background: url(/images/blue-arrow-en.gif) no-repeat 4px 10px;
	list-style: none;
}
.hebrew ul.list li {
	background: url(/images/blue-arrow.gif) no-repeat 99% 10px;
	padding: 6px 17px 5px 0;
	font-size: 1.2em;
}
.foot-box {
	background: url(/images/bg-footer.gif) no-repeat;
	height: 20px;
	padding: 9px 12px 0 10px;
	width: 927px;
	margin: 18px 0 0;
}
.hebrew .foot-box {padding: 9px 8px 0 12px;}
.foot-box  ul{
	margin: 0;
	padding: 0;
	width: 490px;
	overflow: hidden;
	float: left;
}
.hebrew .foot-box  ul {width:394px;}
.foot-box  ul li{
	margin: 0 0 0 -1px;
	padding: 0 10px 0 8px;
	background: url(/images/bg-footer-sep.gif) no-repeat 0 3px;
	float: left;
	font-size: 1.1em;
	list-style: none;
}
.hebrew .foot-box  ul{float: right;}
.hebrew .foot-box  ul li {
	margin: 0 -1px 0 0;
	background: url(/images/bg-footer-sep.gif) no-repeat 100% 3px;
	float: right;
}
.foot-box  ul li a { color:#7c6461;}
.foot-box  p{
	font-size: 1.1em;
	color:#7c6461;
	float: left;
}
.hebrew .foot-box  p {float: right;}
.foot-box  p.by{float: right;}
.hebrew .foot-box  p.by{ float: left;}
.top-text {
	padding:38px 0 0;
}
.top-text h2 {
	margin:0;
	font-size:1.6em;
	line-height:1.18em;
}
.hebrew .top-text h2 {
	font-size:1.8em;
}
.top-text p {
	margin:0;
	font-size:1.2em;
	line-height:1.58em;
}
.hebrew .top-text p {
	font-size:1.4em;
}
.columns-holder {
	overflow:hidden;
	height:1%;
	padding:28px 0 0;
}
.boxu {
	float:left;
	width:782px;
	background:url(/images/boxu.gif) repeat-y;
}
.hebrew .boxu {
	float:right;
}
.boxu-top {
	background:url(/images/boxu-top.gif) no-repeat;
}
.boxu-btm {
	overflow:hidden;
	height:1%;
	padding:0 0 90px;
	background:url(/images/boxu-btm.gif) no-repeat 0 100%;
}
.boxu ul.tabs {
	overflow:hidden;
	height:1%;
	margin:0;
	padding:0;
	list-style:none;
}
.boxu ul.tabs li {
	float:left;
	padding:0 1px 0 0;
	background:url(/images/sep-tabs.gif) no-repeat 100% 0;
}
.hebrew .boxu ul.tabs li {
	float:right;
	padding:0 0 0 1px;
	background-position:0 0;
}
.boxu ul.tabs a {
	float:left;
	color:#fff;
	width:150px;
	font-weight:bold;
	font-size:14px;
	line-height:32px;
	text-align:center;
}
.boxu ul.tabs a:hover,
.boxu ul.tabs li.active a {
	text-decoration:none;
	background:url(/images/bg-tabs-hov.gif) repeat-x;
}
.hebrew .boxu ul.tabs li.active a.first {
	background:url(/images/bg-tabs-right-act.gif) no-repeat 100% 50%;
}
.boxu ul.tabs li.active a.first {
	background:url(/images/bg-tabs-left-act.gif) no-repeat;
}
.nav-bar {
	float:left;
	width:124px;
	padding:30px 21px 0 13px;
	overflow:hidden;
}
.hebrew .nav-bar {
	float:right;
	width:125px;
	padding:30px 15px 0 5px;
}
.nav-bar ul {
	margin:0;
	padding:0;
	list-style:none;
	border-bottom:1px solid #cac8c3;
}
.nav-bar ul li {
	padding:4px 0 4px 3px;
	border-top:1px solid #cac8c3;
}
.nav-bar ul a {
	display:block;
	padding:1px 20px;
	color:#41bdcd;
	font-size:1.2em;
	line-height:1.3em;
	font-weight:bold;
	background:url(/images/arrow-blue.gif) no-repeat 0 3px;
}
.hebrew .nav-bar ul a {
	background:url(/images/arrow-h-blue.gif) no-repeat 100% 3px;
}
.nav-bar ul li.active a {
	color:#523733;
	background:url(/images/arrow-brown.gif) no-repeat 0 3px;
}
.hebrew .nav-bar ul li.active a {
	background:url(/images/arrow-h-brown.gif) no-repeat 100% 3px;
}
.events-holder:after {
	clear:both;
	content:"";
	display:block;
}
.events-holder {
	float:left;
	width:610px;
	padding:22px 0 0;
}
.hebrew .events-holder {
	display:inline;
	margin-left:18px;
}
.events-holder h3 {
	margin:0;
	font-size:2.4em;
	line-height:1.16em;
	font-weight:normal;
}
.events-holder ul.choice {
	overflow:hidden;
	height:1%;
	margin:0;
	padding:10px 0 0;
	list-style:none;
}
.events-holder ul.choice li {
	float:left;
	display:inline;
	margin:0 4px 0 0;
}
.hebrew .events-holder ul.choice li {
	float:right;
	margin:0 0 0 4px;
}
.events-holder ul.choice a {
	float:left;
	width:113px;
	color:#fff;
	font-size:11px;
	font-weight:bold;
	line-height:21px;
	overflow:hidden;
	text-align:center;
	background:url(/images/btn-choice.gif) no-repeat;
}
.events-holder ul.choice li.active a,
.events-holder ul.choice a:hover {
	background-position:0 -21px;
	text-decoration:none;
}
.boxe {
	margin:12px 0 0;
	width:610px;
	background:url(/images/boxe.gif) repeat-y;
}
.boxe-top {
	width:610px;
	background:url(/images/boxe-top.gif) no-repeat;
}
.boxe-btm {
	width:610px;
	min-height:152px;
	padding:0 0 8px;
	background:url(/images/boxe-btm.gif) no-repeat 0 100%;
}
* html .boxe-btm {
	height:152px;
}
.boxe .heading:after,
.boxe-btm:after {
	clear:both;
	content:"";
	display:block;
}
.boxe .heading {
	position:relative;
	width:582px;
	padding:0 12px 0 16px;
}
.hebrew  .boxe .heading {
	width:577px;
	padding:0 17px 0 16px;
}
.boxe .heading h4 {
	float:left;
	position:relative;
	margin:0;
	width:200px;
	font-size:10px;
	line-height:38px;
	font-weight:normal;
}
.hebrew .boxe .heading h4 {
	float:right;
}
.hebrew .boxe .heading h4 a {
	font-size:1.8em;
}
.boxe .heading h4 a {
	font-size:14px;
	line-height:38px;
	font-weight:bold;
}
.hebrew .boxe .heading h4 a {
	float:right;
	margin-left:5px;
}
.boxe .heading .edit {
	float:right;
	position:relative;
	z-index:10;
	width:127px;
	margin:8px 0 0;
}
.boxe .heading .edit-bg:after {
	content:"";
	clear:both;
	display:block;
}
.boxe .heading .edit-bg {
	width:113px;
	padding:0 7px;
}
.boxe .heading .edit-bg:hover,
.boxe .heading .hover {
	background:url(/images/bg-edit-hov.gif) no-repeat;
}
.boxe2 .heading .edit:hover,
.boxe2 .heading .hover {
	background:none !important;
}
.hebrew .boxe .heading .edit {
	float:left;
}
.boxe .heading .edit a {
	float:left;
	position:relative;
	z-index:100;
	font-size:12px;
	line-height:23px;
	font-weight:bold;
	padding:0 0 0 24px;
	background:url(/images/ico-edit.gif) no-repeat 0 50%;
}
.hebrew .boxe .heading .edit a {
	float:right;
	padding:0 22px 0 0;
	background-position:29px 50%;
}
.boxe .heading .edit a:hover {
	text-decoration:underline;
}
.boxe .heading .edit a.open {
	float:left;
	display:inline;
	margin:10px 0 0;
	width:7px;
	height:4px;
	font-size:1px;
	line-height:1px;
	direction:ltr;
	text-indent:-6666px;
	padding:0 12px 0 0;
	background:url(/images/arrow-edit.gif) no-repeat 100% 50%;
	overflow:hidden;
}
.hebrew .boxe .edit a.open {
	float:right;
	margin:10px 6px 0 0;
}
.boxe .heading .edit-drop .drop {
	display:block;
}
.boxe2 .edit-bg:hover,
.boxe2 .heading .edit-drop .hover,
.boxe .edit-drop .hover,
.boxe .edit-drop .edit-bg:hover {
	background:none !important;
}
.boxe .heading .drop {
	display:none;
	position:absolute;
	left:-5px;
	top:-12px;
	z-index:1;
	width:159px;
	overflow:hidden;
	clear:both;
}
.edit-drop a.open {
	display:none !important;
}
.hebrew .boxe .heading .drop {
	left:-18px;
}
.edit .drop ul {
	margin:0;
	list-style:none;
	overflow:hidden;
	height:1%;
	width:131px;
	padding:0 14px 0 14px;
	background:url(/images/bg-drop.png) repeat-y;
}
.edit .drop ul li {
	vertical-align:top;
	height:1%;
	width:135px;
	border-top:1px solid #e5e5e5;
}
.hebrew .edit .drop ul li {
	width:131px;
	overflow:hidden !important;
}
.boxe .heading .edit .drop ul a {
	padding:0 0 0 17px;
	background:none;
	float:none;
	display:block;
	color:#41bdcd;
	background:url(/images/arrow-drop-en.gif) no-repeat 4px 50%;
}
.hebrew  .boxe .heading .edit .drop ul a {
	padding:0 17px 0 0;
	background:url(/images/arrow-drop.gif) no-repeat 116px 50%;
}
.boxe .heading .edit .drop ul a:hover,
.boxe .heading .edit .drop ul li.active a {
	color:#fff;
	text-decoration:none;
	background:#56c8d7 url(/images/arrow-drop-en-hov.gif) no-repeat 4px 50%;
}
.hebrew  .boxe .heading .edit .drop ul a:hover,
.hebrew  .boxe .heading .edit .drop ul li.active a  {
	color:#fff;
	text-decoration:none;
	background:#56c8d7 url(/images/arrow-drop-hov.gif) no-repeat 116px 50%;
}
.boxe .heading .edit .drop-btm {
	width:159px;
	height:14px;
	background:url(/images/bg-drop-btm.png) no-repeat;
}
.boxe .heading .edit .drop-top {
	width:159px;
	height:38px;
	overflow:hidden;
	background:url(/images/bg-drop-top.png) no-repeat;
}
.hebrew .boxe .heading .edit .drop-top {
	background:url(/images/bg-drop-top1.png) no-repeat;
}
.boxe .heading .drop2 .drop-top,
.hebrew  .boxe .heading .drop2 .drop-top {
	width:158px;
	height:30px;
	background:url(/images/bg-drop-top2.png) no-repeat;
}
.hebrew  .boxe .heading .drop2 .drop-top {
	background:url(/images/bg-drop-top3.png) no-repeat;
}
.boxe .heading .drop2 a {
	background:url(/images/ico-5.gif) no-repeat 2px 50%;
}
.boxe .heading .drop2 a.i1 {
	background:url(/images/ico-7.gif) no-repeat 0 50%;
}
.hebrew .boxe .heading .drop2 a.i1 {
	background:url(/images/ico-7.gif) no-repeat 29px 50%;
}
.boxe .heading .drop2 a.open {
	direction:rtl;
	text-indent:0;
	width:auto;
	height:auto;
	margin:4px 0 0 5px;
	color:#31b2c3;
	font-size:11px;
	line-height:14px;
	background:none;
}
.boxe .heading .drop2 a.open:hover {
	text-decoration:underline;
}
.boxe2 .edit-drop .edit-bg a {
	width:112px;
	text-decoration:none;
	margin-right:-25px;
}
.hebrew .boxe2  .edit-drop .edit-bg a {
	width:109px;
	margin:0 0 0 -11px;
}
.boxe2 .edit-drop .edit-bg a:hover {
	text-decoration:none;
	background:#f5f1eb url(/images/ico-5.gif) no-repeat 2px 50%;
}
.hebrew .boxe2  .edit-drop .edit-bg a {
	background-position:114px 50% !important;
}
.hebrew .boxe2  .edit-drop .edit-bg a:hover {
	text-decoration:none;
	background:#f5f1eb url(/images/ico-5.gif) no-repeat 114px 50%;
}
.hebrew .boxe2 .edit-drop .edit-bg a.i1:hover {
	background:#f5f1eb url(/images/ico-7.gif) no-repeat 114px 50%;
}
.boxe .heading .drop2 .drop ul {
	width:135px;
	padding:5px 12px 0 12px;
}
.hebrew .heading .drop2 .drop ul {
	width:131px;
	padding:5px 14px 0 14px;
}
.boxe .heading .drop2 .drop ul a {
	padding-left:24px;
	display:block;
	height:24px;
}
.boxe .heading .drop2 .drop ul li {
	vertical-align:top;
	height:1%;
}
.hebrew .boxe .heading .drop2 .drop ul a {
	padding-right:24px;
	padding-left:0;
}
.boxe .heading .drop2 .drop ul a:hover,
.hebrew .heading .drop2 .drop ul a:hover,
.boxe .heading .drop2 .drop ul a.active {
	color:#594947 !important;
}
.boxe .heading .drop2 ul li.it1 a {
	background:url(/images/ico-6.gif) no-repeat 4px 50%;
}
.hebrew .heading .drop2 .drop ul li.it1 a {
	background:url(/images/ico-6.gif) no-repeat 115px 50%;
}
.boxe .heading .drop2 ul li.it1 a:hover,
.boxe .heading .drop2 ul li.it1 a.active {
	background:#f5f1eb url(/images/ico-6.gif) no-repeat 4px 50%;
}
.hebrew .heading .drop2 .drop ul li.it1 a:hover,
.hebrew .heading .drop2 .drop ul li.it1 a.active {
	background:#f5f1eb url(/images/ico-6.gif) no-repeat 115px 50%;
}
.boxe .heading .drop2 ul li.it2 a {
	background:url(/images/ico-7.gif) no-repeat 4px 50%;
}
.hebrew .boxe .heading .drop2 ul li.it2 a {
	background:url(/images/ico-7.gif) no-repeat 115px 50%;
}
.boxe .heading .drop2 ul li.it2 a:hover,
.boxe .heading .drop2 ul li.it2 a.active {
	background:#f5f1eb url(/images/ico-7.gif) no-repeat 4px 50%;
}
.hebrew .boxe .heading .drop2 ul li.it2 a:hover,
.hebrew .boxe .heading .drop2 ul li.it2 a.active {
	background:#f5f1eb url(/images/ico-7.gif) no-repeat 114px 50% !important;
}
.hebrew .boxe .heading .drop2 .drop {
	left:-25px;
}
.hebrew .boxe .heading .drop2 .drop ul li {
	border-top:1px solid #e5e5e5;
}
.heading ul.list-nav {
	float:right;
	width:300px;
	display:inline;
	margin:10px -10px 0 0;
	padding:0;
	list-style:none;
}
.hebrew .heading ul.list-nav {
	float:left;
	margin:10px 0 0;
}
.heading ul.list-nav li {
	float:right;
	padding:0 12px 0 11px;
	background:url(/images/sep-list-nav.gif) no-repeat 100% 50%;
}
.hebrew .heading ul.list-nav li {
	float:left;
	background-position:0 50%;
}
.heading ul.list-nav li:first-child {
	background:none;
}
.heading ul.list-nav a {
	float:left;
	width:auto;
	white-space:nowrap;
	color:#594947;
	padding-right:15px;
	font-size:12px;
	line-height:18px;
	font-weight:bold;
}
.heading ul.list-nav li.it1 a {
	background:url(/images/ico-7.gif) no-repeat 100% 50%;
}
.heading ul.list-nav li.it2 a {
	background:url(/images/ico-5.gif) no-repeat 100% 50%;
}
.heading ul.list-nav li.it3 a {
	background:url(/images/ico-6.gif) no-repeat 100% 50%;
}
.boxe-wrap:after {
	clear:both;
	display:block;
	content:"";
}
.boxe-wrap {
	padding:0 16px 0 12px;
	height:1%;
}
.boxe-wrap .pict {
	float:left;
	margin:12px 0 0;
	padding:6px;
	width:119px;
	height:81px;
	background:url(/images/bg-pict.gif) no-repeat;
}
.hebrew .boxe-wrap .pict {
	float:right;
}
.boxe-wrap .pict img {
	display:block;
}
.boxe-wrap .boxe-text {
	float:left;
	width:300px;
	padding:10px 10px 0 19px;
}
.hebrew .boxe-wrap .boxe-text {
	float:right;
}
.boxe-wrap .boxe-text p {
	margin:0;
	font-size:1.2em;
	line-height:1.5em;
}
.boxe-wrap .boxe-text p strong {
	float:left;
	width:50px;
}
.hebrew .boxe-wrap .boxe-text p strong {
	float:right;
}
.boxe-wrap .boxe-text p a.more {
	color:#41bdcd;
	float:left;
	margin-top:5px;
	padding-right:13px;
	background:url(/images/arrow-more.gif) no-repeat 100% 50%;
}
.hebrew  .boxe-wrap .boxe-text p a.more {
	float:right;
	background:url(/images/arrow-more-h.gif) no-repeat 100% 50%;
}

.event-menu {
	float:right;
	width:120px;
}
.hebrew .event-menu {
	float:left;
}
.event-menu ul {
	margin:0;
	padding:0;
	list-style:none;
}
.event-menu ul li {
	padding:5px 0 5px 5px;
	border-top:1px solid #e5e5e5;
}
.event-menu ul a {
	display:block;
	color:#41bdcd;
	font-size:12px;
	line-height:16px;
	padding:1px 0 1px 21px;
}
.event-menu ul li.sum,
.event-menu ul li.say {
	border:none;
}
.hebrew .event-menu ul a {
	padding:1px 21px 1px 0;
}
.event-menu ul li.sum a {
	background:url(/images/ico-1.gif) no-repeat 0 50%;
}
.event-menu ul li.say a {
	background:url(/images/ico-8.gif) no-repeat 0 50%;
}
.hebrew .event-menu ul li.sum a,
.hebrew .event-menu ul li.share a,
.hebrew .event-menu ul li.duplicate a,
.hebrew .event-menu ul li.cancel a,
.hebrew .event-menu ul li.say a {
	background-position:100% 50%;
}
.event-menu ul li.share a {
	background:url(/images/ico-2.gif) no-repeat 0 50%;
}
.event-menu ul li.duplicate a {
	background:url(/images/ico-3.gif) no-repeat 0 50%;
}
.event-menu ul li.cancel a {
	background:url(/images/ico-4.gif) no-repeat 0 50%;
}
.page-nav {
	overflow:hidden;
	height:1%;
	margin:28px 0 0;
	padding:17px 0 2px;
	background:url(/images/bg-page-nav.gif) repeat-x;
}
.hebrew .page-nav {
	direction:ltr;
}
.page-nav .pl {
	position: relative;
	float: left;
	left: 50%;
}
.page-nav .pr {
	position: relative;
	left: -50%;
}
* html .page-nav .pr {
	float:left;
}
.page-nav ul {
	width:auto;
	margin:0;
	padding:0;
	list-style:none;
}
.page-nav ul li {
	float:left;
	display:inline;
	margin:0 0 0 4px;
}
.page-nav ul li a {
	float:left;
	width:22px;
	line-height:22px;
	text-align:center;
	color:#53c2d1;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
	background:url(/images/bg-page-item.gif) no-repeat;
}
.content-wrapper .page-nav ul li a {background:url(/images/bg-page-item-alt.gif) no-repeat;}
.page-nav ul li.first,
.page-nav ul li.last {
	width:5px;
	padding-left: 2px;
}
.hebrew .page-nav ul li.first,
.hebrew .page-nav ul li.last {
	padding-left: 2px;
}
.page-nav ul li.active a,
.page-nav ul li a:hover {
	color:#fff;
	text-decoration:none;
	background-position:0 -22px;
}
.page-nav ul a.prev,
.page-nav ul a.next {
	margin:6px 5px 0 0;
	display:inline;
	text-align:left !important;
	direction:ltr !important;
	width:5px;
	height:9px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(/images/btn-prev.gif) no-repeat;
}
.content-wrapper .page-nav ul a.prev{background:url(/images/btn-prev.gif) no-repeat;}
.page-nav ul a.next {
	margin:6px 0 0 4px;
	background:url(/images/btn-next.gif) no-repeat;
}
.content-wrapper  .page-nav ul a.next {background:url(/images/btn-next.gif) no-repeat;}
.content-wrapper .page-nav ul a.next {margin:6px 0 0 0;}
.page-nav ul li.disabled a.prev,
.page-nav ul li.disabled a.next {
	background-position:0 -9px;
}
.page-nav ul a.prev:hover,
.page-nav ul a.next:hover {
	background-position:0 0;
}
.sidebar {
	float:right;
	width:175px;
}
.hebrew .sidebar {
	float:left;
}
.boxr {
	width:175px;
	background:url(/images/boxr.gif) repeat-y;
}
.boxr-top {
	background:url(/images/boxr-top.gif) no-repeat;
}
.boxr-btm {
	padding:10px 0 8px;
	background:url(/images/boxr-btm.gif) no-repeat 0 100%;
}
.boxr h3 {
	margin:0 15px;
	font-size:1.2em;
	line-height:1.63em;
	text-transform:uppercase;
}
.boxr ul {
	margin:0;
	padding:5px 9px 0 12px;
	list-style:none;
}
.boxr ul li {
	padding:5px 3px;
	border-top:1px solid #e0e0e0;
}
.boxr ul strong {
	display:block;
	font-size:1.2em;
	line-height:1.45em;
}
.boxr ul span {
	font-size:1.1em;
}
.boxr ul a {
	color:#41bdcd;
}
.banners {
	padding:14px 0 0;
}
.banners img {
	display:block;
}
.content-wrapper {
	margin: 53px 0 0;
	float: right;
	width: 763px;
}
.hebrew .content-wrapper {float: left;}
.content-wrapper-top {
	clear: both;
	overflow: hidden;
	height: 1%;
	padding: 0 0 22px;
	background: url(/images/bg-shadow.gif) repeat-x 0 100%;
}
.content-wrapper-bottom  {
	overflow: hidden;
	height: 1%;
	clear: both;
	margin: 9px 0 0;
	padding: 6px 0 28px;
	background: url(/images/bg-shadow.gif) repeat-x;
}
.content-wrapper .page-nav{
	background: none;
	float: right;
	margin: 11px 0 0;
	padding: 0;
}
.hebrew .content-wrapper .page-nav{
	float: left;
	direction: ltr !important;
}
.content-wrapper-top  h1{
	margin: 0;
	padding: 0;
	font-size: 2.8em;
	font-weight: normal;
}
.image-boxes-h {
	margin: 0 -35px 0 0;
	width: 801px;
	float: left;
	display: inline;
}
.hebrew .image-boxes-h {
	direction: ltr;
}
.hebrew .image-boxes-h .img-box{float: right;}
.image-boxes-h .img-box{
	margin-right: 28px;
	display: inline;
}
.image-boxes-h-row {
	width: 100%;
	clear: both;
	margin: 2px 0 0;
	padding: 0 0 16px;
}
.image-boxes-h-row:after {
	display: block;
	content: "";
	clear: both;
}
#sidebar {
	background:#f5f1eb url(/images/bg-sidebar-t.gif) no-repeat;
	float: left;
	width: 174px;
	margin: 53px 0 0;
}
#sidebar .holder{
	padding: 0 9px 150px 8px;
	background: url(/images/bg-sidebar-b.gif) repeat-x 0 100%;
}
.hebrew  #sidebar{
	float: right;
	direction: ltr;
}
.hebrew  #sidebar .holder {padding: 0 8px 150px 9px;}
#sidebar h2{
	margin: 0;
	padding:12px 7px 8px;
	font-size: 1.3em;
	border-bottom: 1px solid #d4ccc6;
}
.hebrew #sidebar h2{direction: rtl;}
ul.sub-nav {
	width: 171px;
	position: relative;
	margin: 0 -13px 0 0;
	padding: 5px 0 10px;
}
.hebrew ul.sub-nav{
	direction: rtl;
	margin: 0 0 0 -13px;
}
ul.sub-nav li {
	margin:-1px 0 0;
	list-style: none;
}
ul.sub-nav li a{
	padding: 0 12px;
	font-size: 1.2em;
	display: block;
	height:27px;
	line-height: 27px;
}
ul.sub-nav li a:hover,
ul.sub-nav li.active a{
	font-weight: bold;
	padding: 0 10px;
	color: #fff;
	text-decoration: none;
	background: url(/images/bg-sub-nav-hov-en.gif) no-repeat;
}
.hebrew ul.sub-nav li a:hover,
.hebrew ul.sub-nav li.active a {background: url(/images/bg-sub-nav-hov.gif) no-repeat;}