body {width:expression(document.documentElement.clientWidth < 1000 ? "1000px" : "auto");}
#header {width:expression(document.documentElement.clientWidth < 1000 ? "1000px" : "auto");}
#top-nav li.active a,
#top-nav li a:hover,
.hebrew #top-nav li a:hover,
a.lb-popup-btn-close,
#main .subnav .opener span,
#main .subnav .opener em,
#main .subnav .menu-list .top,
#main .subnav .menu-list .btm,
#main .subnav .menu-list .mid{
	background:url(/images/none.gif) fixed;
}
#top-nav li.active a {background:url(/images/none.gif) fixed !important;}
.popup-t,
.hebrew .popup-t,
.popup-c,
.popup-b,
.personal-menu,
.personal-menu-b,
.h-container .t,
.h-container .c,
.h-container .b,
.h-container .b-alt,
.lb-popup-1 .t,
.lb-popup-1 .c,
.lb-popup-1 .b,
.shadow,
#main .subnav .inner-box .bg-t,
#main .subnav .inner-box .bg-b,
a.gallery-arrow-prev,
a.gallery-arrow-next { background: none;}
#top-nav li.active a.top{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/top-nav-btn-h.png', sizingmethod='crop');}
.popup-t {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-popup-t-en.png', sizingmethod='crop');}
.hebrew .popup-t {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-popup-t.png', sizingmethod='crop');}
.popup-c {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-popup-c.png', sizingmethod='scale');}
.popup-b {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-popup-b.png', sizingmethod='crop');}
.personal-menu {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-personal-menu-t.png', sizingmethod='crop');}
.personal-menu-b {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-personal-menu-b.png', sizingmethod='crop');}
.h-container .t {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-h-container-t.png', sizingmethod='crop');}
.h-container .c {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-h-container-c.png', sizingmethod='scale');}
.h-container .b {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-h-container-b.png', sizingmethod='crop');}
.h-container .b-alt {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-h-container-b-alt.png', sizingmethod='crop');}
#top-nav li a:hover{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-top-nav-h-en.png', sizingmethod='crop');}
.hebrew #top-nav li a:hover {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-top-nav-h.png', sizingmethod='crop');}
#top-nav li.active a{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/top-nav-btn-h.png', sizingmethod='crop') !important;}
a.lb-popup-btn-close {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/btn-popup-close.png', sizingmethod='crop');}
.lb-popup-1 .t {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-lb-popup-1-t.png', sizingmethod='crop');}
.lb-popup-1 .c {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-lb-popup-1-c.png', sizingmethod='scale');}
.lb-popup-1 .b {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-lb-popup-1-b.png', sizingmethod='crop');}
.shadow {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-lb-popup-shadow.png', sizingmethod='scale');}
.subnav li.btn-1 .opener span{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-subnav-l.png', sizingmethod='crop');}
.subnav li.btn-1 .opener em{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-subnav-r.png', sizingmethod='crop');}
.subnav li.btn-1 .menu-list .top{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-subnav-drop-top.png', sizingmethod='crop');}
.subnav li.btn-1 .menu-list .btm{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-subnav-drop-btm.png', sizingmethod='crop');}
.subnav li.btn-1 .menu-list .mid{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-subnav-drop-mid.png', sizingmethod='scale');}
.subnav li.btn-2 .opener span{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-subnav-l-2.png', sizingmethod='crop');}
.subnav li.btn-2 .opener em{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-subnav-r-2.png', sizingmethod='crop');}
.subnav li.btn-2 .menu-list .top{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-subnav-drop-top-2.png', sizingmethod='crop');}
.subnav li.btn-2 .menu-list .btm{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-subnav-drop-btm-2.png', sizingmethod='crop');}
.subnav li.btn-2 .menu-list .mid{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-subnav-drop-mid-2.png', sizingmethod='scale');}
.hebrew .subnav li.btn-1 .opener span{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-subnav-l-rtl.png', sizingmethod='crop');}
.hebrew .subnav li.btn-1 .opener em{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-subnav-r-rtl.png', sizingmethod='crop');}
.hebrew .subnav li.btn-2 .opener span{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-subnav-l-2-rtl.png', sizingmethod='crop');}
.hebrew .subnav li.btn-2 .opener em{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-subnav-r-2-rtl.png', sizingmethod='crop');}
.subnav .inner-box .bg-t{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-subnav-inner-t.png', sizingmethod='crop');}
.subnav .inner-box .bg-b{filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-subnav-inner-b.png', sizingmethod='crop');}
a.gallery-arrow-prev {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-gallery-arrow-l.png', sizingmethod='crop');}
a.gallery-arrow-next {filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-gallery-arrow-r.png', sizingmethod='crop');}
* html .png{
	position:relative;
	behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
	this.src = "/images/none.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
	this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
	);
}
#top-nav li .popup a.close {
	filter:none !important;
}
.tabset-nav li {background-image: expression( (this===this.parentNode.childNodes[0]) ? "none" : "auto");}
.tabset-nav li.active a{background-image: expression( (this.parentNode===this.parentNode.parentNode.childNodes[0]) ? "url(/images/bg-tab-nav-item-l-first.gif)" : "auto") !important; }
.hebrew .tabset-nav li.active a{ background-image:url(/images/bg-tab-nav-item-l.gif) !important;}
.hebrew  .tabset-nav li {background-image: expression( (this===this.parentNode.childNodes[0]) ? "none" : "auto");}
.edit .drop ul {
	background:url(/images/none.gif);
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-drop.png', sizingMethod='scale');
}
.boxe .heading .edit .drop-btm {
	background:url(/images/none.gif);
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-drop-btm.png', sizingMethod='crop');
}
.boxe .heading .edit .drop-top {
	background:url(/images/none.gif);
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-drop-top.png', sizingMethod='crop');
}
.hebrew .boxe .heading .edit .drop-top {
	background:url(/images/none.gif);
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-drop-top1.png', sizingMethod='crop');
}
.boxe .heading .drop2 .drop-top {
	background:url(/images/none.gif);
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-drop-top2.png', sizingMethod='crop');
}
.hebrew  .boxe .heading .drop2 .drop-top {
	background:url(/images/none.gif);
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/bg-drop-top3.png', sizingMethod='crop');
}
.drop2 .drop ul li {
	border-top: expression( (this===this.parentNode.childNodes[0]) ? "1px solid #e5e5e5" : "1px solid #e5e5e5");
}
.heading ul.list-nav li {
	background: expression( (this===this.parentNode.childNodes[0]) ? "none" : "url(/images/sep-list-nav.gif) no-repeat 100% 50%");
}
.hebrew .heading ul.list-nav li {
	background: expression( (this===this.parentNode.childNodes[0]) ? "none" : "url(/images/sep-list-nav.gif) no-repeat 0 50%");
}
.boxe .heading .edit .drop ul a,
.boxe .heading .drop2 .drop ul a {
	zoom:1;
}
.table-box table tr{
	behavior: expression(
	this.onmouseover = new Function("this.className += ' hover-row'"),
	this.onmouseout = new Function("this.className = this.className.replace(' hover-row','')"),
	this.style.behavior = null);
}
.lang li{
	background-image: expression( (this===this.parentNode.childNodes[0]) ? "none" : "auto");
	padding-left: expression( (this===this.parentNode.childNodes[0]) ? "0" : "auto");
}