body {
	font:64% Arial, Helvetica, sans-serif;
	background:#fff;
	margin:0;
	padding-bottom: 33px;
	width: 100%;
	text-align: center;
}
#postcard {
	margin:0 auto;
	width:667px;
	height:500px;
	text-align:left;
}
#background_holder {
	margin:0 auto;
	width:900px;
	height:600px;
}
.title_holder {
	font-size: 32px;
}
.info_holder {
	font-size: 30px;
}
.title_holder, .info_holder {
	position:relative;
}
.title_holder:hover, .info_holder:hover {
	border:1px solid blue;
}
.hebrew .title_holder, .hebrew .info_holder {
	direction: rtl;
}

#toolbar {
	position: absolute;
	bottom: 0px;
	width: 100%;
	display: none;
	z-index: 300;
	margin:0 auto;
	left: 0;
}}
#toolbar a{
	width: 688px;
	margin:0 auto;
}
#toolbar img {
	border: 0;
}
#envelope {
	margin-top: 10%;
}
.envelope img {
	border: 0;
}