
@font-face {
  font-family: "סימן קריאה";
  src: url("/fonts/ExclamReg.eot");
  src: local("exclam"),local("ExclamReg"),
  url("/fonts/ExclamReg.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'אינפרא';
	src: url('/fonts/infra_regular-webfont.eot');
	src: local('Infra'), local('Infra-Regular'), url('/fonts/infra_regular-webfont.woff') format('woff'), url('/fonts/infra_regular-webfont.ttf') format('truetype'), url('/fonts/infra_regular-webfont.svg#webfontos4qb89T') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'כוס חלב';
	src: url('/fonts/aglassofmilkreg-webfont.eot');
	src: local('AGlassOfMilkReg'), url('/fonts/aglassofmilkreg-webfont.woff') format('woff'), url('/fonts/aglassofmilkreg-webfont.ttf') format('truetype'), url('/fonts/aglassofmilkreg-webfont.svg#webfontos4qb89T') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'בלנדר';
	src: url('/fonts/blenderbold-webfont.eot');
	src: local('Blender'), local('Blender-Bold'), url('/fonts/blenderbold-webfont.woff') format('woff'), url('/fonts/blenderbold-webfont.ttf') format('truetype'), url('/fonts/blenderbold-webfont.svg#webfontos4qb89T') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'קריסטייל';
	src: url('/fonts/cristyle-webfont.eot');
	src: local('Cristyle'), local('Cristyle'), url('/fonts/cristyle-webfont.woff') format('woff'), url('/fonts/cristyle-webfont.ttf') format('truetype'), url('/fonts/cristyle-webfont.svg#webfontos4qb89T') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ספידמן';
	src: url('/fonts/speedmanbold-webfont.eot');
	src: local('SpeedMan'), local('SpeedMan-Bold'), url('/fonts/speedmanbold-webfont.woff') format('woff'), url('/fonts/speedmanbold-webfont.ttf') format('truetype'), url('/fonts/speedmanbold-webfont.svg#webfontFibdePUJ') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'קרטיב קרח';
	src: url('/fonts/kartivkerah-webfont.eot');
	src: local('Kartiv'), local('Kartiv-Kerah'), url('/fonts/kartivkerah-webfont.woff') format('woff'), url('/fonts/kartivkerah-webfont.ttf') format('truetype'), url('/fonts/kartivkerah-webfont.svg#webfontFibdePUJ') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'מכבי בלוק';
	src: url('/fonts/maccabiblockbold-webfont.eot');
	src: local('MaccabiBlock'), local('MaccabiBlock-Bold'), url('/fonts/maccabiblockbold-webfont.woff') format('woff'), url('/fonts/maccabiblockbold-webfont.ttf') format('truetype'), url('/fonts/maccabiblockbold-webfont.svg#webfontFibdePUJ') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'פלסטיק';
	src: url('/fonts/plastic_bold-webfont.eot');
	src: local('Plastic'), local('Plastic-Bold'), url('/fonts/plastic_bold-webfont.woff') format('woff'), url('/fonts/plastic_bold-webfont.ttf') format('truetype'), url('/fonts/plastic_bold-webfont.svg#webfontFibdePUJ') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'רענן';
	src: url('/fonts/raananbold-webfont.eot');
	src: local('RaananBold'), local('RananBold'), url('/fonts/raananbold-webfont.woff') format('woff'), url('/fonts/raananbold-webfont.ttf') format('truetype'), url('/fonts/raananbold-webfont.svg#webfontFibdePUJ') format('svg');
	font-weight: normal;
	font-style: normal;
}

.background_holder {
	margin:0 auto;
	width:900px;
	height:600px;
}
.background_holder img.back{
	width:100%;
	height:100%;
	z-index: 50;
	position:relative;
}
.title {
	position: relative;
    line-height: 1.2em;
}
.msg {
    line-height: 1em;
}
.title_holder, .msg_holder {
	position: absolute;
	z-index: 100;
  overflow-y: hidden;
  white-space: nowrap;
}
.hebrew .title_holder, .hebrew .msg_holder {
	direction: rtl;
}
.hebrew .title, .hebrew .msg {
	padding-right: 8px;
}

.msg, .title{
    overflow: hidden;
}
.invitation_pdf .background_holder .msg_holder, .invitation_pdf .background_holder .title_holder{
	-webkit-transform: scale(1.6);
	-webkit-transform-origin: top left;
}

#envelope {
	width:578px;
	height:572px;
	background-image: url('/images/envelope1.png');
	text-align: center;
	margin: 0 auto;
}

.toolbar {
	position: absolute;
	bottom: 0;
	left:50%;
	margin: 0 0 0 -344px;
	width:688px;
	height:64px;
	z-index: 300;
}
.toolbar_preview{
	position: fixed;
	display: none;
}
.toolbar a{
	color:#523733;
	text-decoration:none;
}
.hebrew .toolbar{ direction: rtl;}
.toolbar-bg {
	overflow: hidden;
	background: url(/images/bg-toolbar.png) no-repeat;
	width:688px;
	height:64px;
}
.toolbar-logo {
	margin: 17px 34px 0 21px;
	display: inline;
	text-indent: -9999px;
	width: 104px;
	height: 29px;
	float: right;
	position: relative;
	background: url(/images/logo-toolbar.gif) no-repeat;
}
.hebrew .toolbar-logo {
	margin: 17px 21px 0 34px;
	float: left;
}
.toolbar-logo  a{
	display: block;
	height: 100%;
}
.t-b-btn {
	position: relative;
	text-align: center;
	font-weight: bold;
	color: #2f261f;
	font-size: 13px;
	line-height: 12px;
	float: right;
	margin: 0 17px;
	display: inline;
	font-family: helvetica;
}
.hebrew .t-b-btn{
	float: left;
	font-size: 18px;
}
.t-b-btn span{
	cursor: pointer;
	display: block;
	height: 1%;
	overflow: hidden;
	padding: 0 5px;
}
.t-b-btn-1 {
	margin-top:16px; 
	padding: 7px 0 0;
	width: 94px;
	background: url(/images/t-b-btn-1-en.gif) no-repeat;
}
.t-b-btn-1 span {
	padding-bottom: 14px;
	background: url(/images/t-b-btn-1-en.gif) no-repeat 0 100%;
}
.t-b-btn-2 {
	margin-top:17px; 
	padding: 7px 0 0;
	width: 89px;
	background: url(/images/t-b-btn-2-en.gif) no-repeat;
}
.t-b-btn-2 span {
	padding-bottom: 8px;
	background: url(/images/t-b-btn-2-en.gif) no-repeat 0 100%;
}
.t-b-btn-3 {
	margin-top:14px; 
	padding: 10px 0 0;
	width: 59px;
	background: url(/images/t-b-btn-3-en.gif) no-repeat;
}
.t-b-btn-3 span {
	padding-bottom: 7px;
	background: url(/images/t-b-btn-3-en.gif) no-repeat 0 100%;
}
.t-b-btn-4 {
	margin-top:14px; 
	padding: 8px 0 0;
	width:143px;
	background: url(/images/t-b-btn-4-en.gif) no-repeat;
}
.t-b-btn-4 span {
	padding-bottom: 13px;
	background: url(/images/t-b-btn-4-en.gif) no-repeat 0 100%;
}
.hebrew .t-b-btn-1 {background: url(/images/t-b-btn-1.gif) no-repeat;}
.hebrew .t-b-btn-1 span {
	background: url(/images/t-b-btn-1.gif) no-repeat 0 100%;
	font-family: 'רענן';
}
.hebrew .t-b-btn-2 {background: url(/images/t-b-btn-2.gif) no-repeat;}
.hebrew .t-b-btn-2 span {
	background: url(/images/t-b-btn-2.gif) no-repeat 0 100%;
	font-family: 'רענן';
}
.hebrew .t-b-btn-3 {background: url(/images/t-b-btn-3.gif) no-repeat;}
.hebrew .t-b-btn-3 span {
	background: url(/images/t-b-btn-3.gif) no-repeat 0 100%;
	font-family: 'רענן';
}
.hebrew .t-b-btn-4 {background: url(/images/t-b-btn-4.gif) no-repeat;}
.hebrew .t-b-btn-4 span {
	background: url(/images/t-b-btn-4.gif) no-repeat 0 100%;
	font-family: 'רענן';
}
.stage-2 .window{
	border: 0;
}
.window{
	position: absolute;
	overflow: hidden;
	direction: ltr;
	z-index: 50;
	border: 0;
}
.window.empty {
	border: 1px dashed green;
	z-index: 100;
}
.background_holder .window {
	border: 0;
	z-index: 48;
}
.window img {
	width: 100%;
}
.image-h{
  width: 561px;
  height: 374px;
}
.image-background-holder{
  width: 561px;
  height: 374px;
  z-index:100;
  position:absolute;
}
.image-holder img, .image-h img {
	z-index: 100;
	position: relative;
}
#preview {
	z-index: 1;
}
#crop,#cancel_crop {
	display: none;
}
.crop_preview {
	position: absolute;
	overflow: hidden;
	direction: ltr;
	z-index: 52;
	display: none;
}
