 Export CSS
Here are the CSS changes you need to integrate back into your web site.

Make sure to download these sprite images to your own server. These URLs are temporary and will eventually be removed! Replace these URLs with the URLs where you host the images.

http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png
http://www.jaredhirsch.com/coolrunnings/public_images/2490b788ac/spriteme2.png
http://www.jaredhirsch.com/coolrunnings/public_images/f4c93415fa/spriteme3.png
/stylesheets/main.css?1308253766
Merge these changes into the CSS rules in /stylesheets/main.css?1308253766:
.promo-t {
  background-image: url(/images/bg-promo-t.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -10px;
}
.main-box .btn-start {
  background-image: url(/images/btn-start.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -348px;
}
.btn-brown {
  background-image: url(/images/btn-brown-l.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -496px;
}
This is one of multiple rules that use this background image:

.hebrew .blue-btn-sml {
  background-image: url(/images/btn-blue-sml.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -534px;
}
This is one of multiple rules that use this background image:

.hebrew .blue-btn-sml SPAN {
  background-image: url(/images/btn-blue-sml.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -534px;
}
.plus {
  background-image: url(/images/ico-plus.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -588px;
}
.hebrew .logo {
  background-image: url(/images/logo_he.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -629px;
}
.hebrew .subnav LI.btn-1 .opener SPAN {
  background-image: url(/images/bg-subnav-l-rtl.png);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -703px;
}
.hebrew .subnav LI.btn-1 .opener EM {
  background-image: url(/images/bg-subnav-r-rtl.png);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -812px;
}
.subnav LI.btn-1 .menu-list .top {
  background-image: url(/images/bg-subnav-drop-top.png);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -921px;
}
.subnav .inner-box .bg-t {
  background-image: url(/images/bg-subnav-inner-t.png);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -955px;
}
.subnav .form .txt {
  background-image: url(/images/bg-input-sign.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -981px;
}
.subnav .form .sbmt {
  background-image: url(/images/btn-sbmt.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -1025px;
}
.subnav .inner-box .bg-b {
  background-image: url(/images/bg-subnav-inner-b.png);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -1068px;
}
.subnav LI.btn-1 .menu-list .btm {
  background-image: url(/images/bg-subnav-drop-btm.png);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -1094px;
}
.hebrew .subnav LI.btn-2 .opener SPAN {
  background-image: url(/images/bg-subnav-l-2-rtl.png);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -1128px;
}
.hebrew .subnav LI.btn-2 .opener EM {
  background-image: url(/images/bg-subnav-r-2-rtl.png);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -1237px;
}
.subnav LI.btn-2 .menu-list .top {
  background-image: url(/images/bg-subnav-drop-top-2.png);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -1346px;
}
This is one of multiple rules that use this background image:

.checkboxArea {
  background-image: url(/images/bg-checkbox.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -1380px;
}
This is one of multiple rules that use this background image:

.checkboxAreaChecked {
  background-image: url(/images/bg-checkbox.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -1380px;
}
.subnav LI.btn-2 .menu-list .btm {
  background-image: url(/images/bg-subnav-drop-btm-2.png);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -1422px;
}
.foot-box {
  background-image: url(/images/bg-footer.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -1456px;
}
This is one of multiple rules that use this background image:

.hebrew #nyroModalContent .blue-btn-mdl {
  background-image: url(/images/btn-blue-brown-mdl.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -1567px;
}
This is one of multiple rules that use this background image:

.hebrew .content-box-holder .blue-btn-mdl {
  background-image: url(/images/btn-blue-brown-mdl.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -1567px;
}
This is one of multiple rules that use this background image:

.hebrew #nyroModalContent .blue-btn-mdl SPAN {
  background-image: url(/images/btn-blue-brown-mdl.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -1567px;
}
.minus {
  background-image: url(/images/ico-minus.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -1639px;
}
.btn-brown SPAN {
  background-image: url(/images/btn-brown-r.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: 67px -1680px;
}
.lang LI {
  background-image: url(/images/sep-lang.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -1716px;
}
This is one of multiple rules that use this background image:

LI.home_page A {
  background-image: url(/images/homeicon.png);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: 33px -1748px;
}
This is one of multiple rules that use this background image:

.hebrew LI.home_page A {
  background-image: url(/images/homeicon.png);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: 33px -1748px;
}
.hebrew UL.list LI {
  background-image: url(/images/blue-arrow.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: 99px -1773px;
}
This is one of multiple rules that use this background image:

.foot-box UL LI {
  background-image: url(/images/bg-footer-sep.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: 68px -1822px;
}
This is one of multiple rules that use this background image:

.hebrew .foot-box UL LI {
  background-image: url(/images/bg-footer-sep.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: 68px -1822px;
}
.promo {
  background-image: url(/images/bg-promo-c.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/2490b788ac/spriteme2.png);
  background-position: -10px 0px;
}
.img-box {
  background-image: url(/images/bg-img-box-c.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/2490b788ac/spriteme2.png);
  background-position: -999px 0px;
}
.subnav LI.btn-1 .menu-list .mid {
  background-image: url(/images/bg-subnav-drop-mid.png);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/2490b788ac/spriteme2.png);
  background-position: -1265px 0px;
}
.subnav LI.btn-2 .menu-list .mid {
  background-image: url(/images/bg-subnav-drop-mid-2.png);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/2490b788ac/spriteme2.png);
  background-position: -1528px 0px;
}
.promo-b {
  background-image: url(/images/bg-promo-b.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/f4c93415fa/spriteme3.png);
  background-position: -10px 310px;
}
.img-box-t {
  background-image: url(/images/bg-img-box-t.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/f4c93415fa/spriteme3.png);
  background-position: -999px -10px;
}
.img-box-b {
  background-image: url(/images/bg-img-box-b.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/f4c93415fa/spriteme3.png);
  background-position: -1265px 126px;
}
.footer-area {
  background-image: url(/images/bg-bottom-area-b.gif);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/f4c93415fa/spriteme3.png);
  background-position: -1531px 216px;
}
/stylesheets/nyroModal.full.css?1308253766
Merge these changes into the CSS rules in /stylesheets/nyroModal.full.css?1308253766:
DIV#nyroModalFull DIV#nyroModalWrapper A#closeBut {
  background-image: url(/images/close_dialog.png);
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/406da65102/spriteme1.png);
  background-position: -10px -1505px;
}

/*
.promo-t {done
  background-image: url(/images/bg-promo-t.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -10px;
}
.hebrew .main-box .btn-start {done
  background-image: url(/images/btn-start.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -348px;
}
.btn-brown {done
  background-image: url(/images/btn-brown-l.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -496px;
}

.hebrew .blue-btn-sml {problem
  background-image: url(/images/btn-blue-sml.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -534px;!important
}

.hebrew .blue-btn-sml SPAN {problem
  background-image: url(/images/btn-blue-sml.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -534px;
}
.plus {done
  background-image: url(/images/ico-plus.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -588px;
}
.hebrew .logo {done
  background-image: url(/images/logo_he.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -629px;
}
.hebrew .subnav LI.btn-1 .opener SPAN {done
  background-image: url(/images/bg-subnav-l-rtl.png);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -703px;
}
.hebrew .subnav LI.btn-1 .opener EM {done
  background-image: url(/images/bg-subnav-r-rtl.png);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -812px;
}
.subnav LI.btn-1 .menu-list .top {done
  background-image: url(/images/bg-subnav-drop-top.png);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -921px;
}
.subnav .inner-box .bg-t {done
  background-image: url(/images/bg-subnav-inner-t.png);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -955px;
}
.subnav .form .txt {done
  background-image: url(/images/bg-input-sign.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -981px;
}
.subnav .form .sbmt {done
  background-image: url(/images/btn-sbmt.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -1025px;
}
.subnav .inner-box .bg-b {done
  background-image: url(/images/bg-subnav-inner-b.png);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -1068px;
}
.subnav LI.btn-1 .menu-list .btm {done
  background-image: url(/images/bg-subnav-drop-btm.png);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -1094px;
}
.hebrew .subnav LI.btn-2 .opener SPAN {done
  background-image: url(/images/bg-subnav-l-2-rtl.png);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -1128px;
}
.hebrew .subnav LI.btn-2 .opener EM {done
  background-image: url(/images/bg-subnav-r-2-rtl.png);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -1237px;
}
.subnav LI.btn-2 .menu-list .top {done
  background-image: url(/images/bg-subnav-drop-top-2.png);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -1346px;
}

.checkboxArea {done
  background-image: url(/images/bg-checkbox.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -1380px;
}

.checkboxAreaChecked {done
  background-image: url(/images/bg-checkbox.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -1380px;
}
.subnav LI.btn-2 .menu-list .btm {done
  background-image: url(/images/bg-subnav-drop-btm-2.png);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -1422px;
}
.foot-box {done
  background-image: url(/images/bg-footer.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -1456px;
}

.hebrew #nyroModalContent .blue-btn-mdl {problem
  background-image: url(/images/btn-blue-brown-mdl.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -1567px;
}

.hebrew .content-box-holder .blue-btn-mdl {problem
  background-image: url(/images/btn-blue-brown-mdl.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -1567px;
}

.hebrew #nyroModalContent .blue-btn-mdl SPAN {problem
  background-image: url(/images/btn-blue-brown-mdl.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -1567px;
}
.minus {done
  background-image: url(/images/ico-minus.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -1639px;
}
.btn-brown SPAN {done 100%
  background-image: url(/images/btn-brown-r.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: 67px -1680px;
}
.lang LI {done
  background-image: url(/images/sep-lang.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: -10px -1716px;
}

LI.home_page A {ruins english
  background-image: url(/images/homeicon.png);
  background-image: url(/images/home_page_sprite1.png);
  background-position: 33px -1748px;
}

.hebrew LI.home_page A {done
  background-image: url(/images/homeicon.png);
  background-image: url(/images/home_page_sprite1.png);
  background-position: 33px -1748px;
}
.hebrew UL.list LI {done
  background-image: url(/images/blue-arrow.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: 99px -1773px;
}

.foot-box UL LI {problem
  background-image: url(/images/bg-footer-sep.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: 68px -1822px;
}

.hebrew .foot-box UL LI {problem
  background-image: url(/images/bg-footer-sep.gif);
  background-image: url(/images/home_page_sprite1.png);
  background-position: 68px -1822px;
}
.promo {done
  background-image: url(/images/bg-promo-c.gif);
  background-image: url(/images/home_page_sprite2.png);
  background-position: -10px 0px;
}
.img-box {done
  background-image: url(/images/bg-img-box-c.gif);
  background-image: url(/images/home_page_sprite2.png);
  background-position: -999px 0px;
}
.subnav LI.btn-1 .menu-list .mid {done
  background-image: url(/images/bg-subnav-drop-mid.png);
  background-image: url(/images/home_page_sprite2.png);
  background-position: -1265px 0px;
}
.subnav LI.btn-2 .menu-list .mid {done
  background-image: url(/images/bg-subnav-drop-mid-2.png);
  background-image: url(/images/home_page_sprite2.png);
  background-position: -1528px 0px;
}
.promo-b {done
  background-image: url(/images/bg-promo-b.gif);
  background-image: url(/images/home_page_sprite3.png);
  background-position: -10px 310px;
}
.img-box-t {done
  background-image: url(/images/bg-img-box-t.gif);
  background-image: url(/images/home_page_sprite3.png);
  background-position: -999px -10px;
}
.img-box-b {done
  background-image: url(/images/bg-img-box-b.gif);
  background-image: url(/images/home_page_sprite3.png);
  background-position: -1265px 126px;
}
.footer-area {done
  background-image: url(/images/bg-bottom-area-b.gif);
  background-image: url(/images/home_page_sprite3.png);
  background-position: -1531px 216px;
}
*/

.side-box {
  background-image: url(/images/bg-sidebox-c.gif);
  background-image: url(/images/rsvp_more_spriteme2.png);
  background-position: -10px 0px;
}
.content-box {
  background-image: url(/images/bg-content-box-c.gif);
  background-image: url(/images/rsvp_more_spriteme2.png);
  background-position: -360px 0px;
}
.side-box .holder {
  background-image: url(/images/bg-sidebox-b.gif);
  background-image: url(/images/rsvp_more_spriteme3.png);
  background-position: -10px 419px;
}
.content-box .holder {
  background-image: url(/images/bg-content-box-t.gif);
  background-image: url(/images/rsvp_more_spriteme3.png);
  background-position: -360px -10px;
}
.content-box .frame {
  background-image: url(/images/bg-content-box-b.gif);
  background-image: url(/images/rsvp_more_spriteme3.png);
  background-position: -999px 518px;
}
This is one of multiple rules that use this background image:

.hebrew #tab-2 {
  background-image: url(/images/bg-tabset-orange.gif);
  background-image: url(/images/rsvp_more_spriteme3.png);
  background-position: -1963px -10px;
}
This is one of multiple rules that use this background image:

.hebrew .tabs-container #tab-2 {
  background-image: url(/images/bg-tabset-orange.gif);
  background-image: url(/images/rsvp_more_spriteme3.png);
  background-position: -1963px -10px;
}
This is one of multiple rules that use this background image:

.hebrew .tabs-container #tab-2 {
  background-image: url(/images/bg-tabset-orange.gif);
  background-image: url(/images/rsvp_more_spriteme3.png);
  background-position: -1963px -10px;
}
.tabs-container .tabs-bottom {
  background-image: url(/images/bg-tabs-alt-b.gif);
  background-image: url(/images/rsvp_more_spriteme3.png);
  background-position: -2581px 69px;
}
.tabs-container .info-col .info-col-row {
  background-image: url(/images/bg-sep-alt.gif);
  background-image: url(/images/rsvp_more_spriteme3.png);
  background-position: -3199px 52px;
}
.side-box-heading {
  background-image: url(/images/bg-sidebox-t-brown.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: -10px -10px;
}
This is one of multiple rules that use this background image:

.hebrew .link-box LI.item-1 {
  background-image: url(/images/bg-link-box-item-green.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: -10px -73px;
}
This is one of multiple rules that use this background image:

.link-box LI.item-1 {
  background-image: url(/images/bg-link-box-item-green.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: -10px -73px;
}
.answered-form .text {
  background-image: url(/images/bg-text-custom.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: -10px -120px;
}
This is one of multiple rules that use this background image:

.answered-form .row {
  background-image: url(/images/bg-answered-form.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: -337px -162px;
}
This is one of multiple rules that use this background image:

.answered-form .row .hold {
  background-image: url(/images/bg-answered-form.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: -337px -162px;
}
.answered-form .row2 .textarea {
  background-image: url(/images/bg-textarea-3.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: -10px -211px;
}
.print_btns .item1 {
  background-image: url(/images/bg-link-box-item-turk.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: -10px -331px;
}
.content-box-heading {
  background-image: url(/images/bg-content-box-heading.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: -10px -378px;
}
This is one of multiple rules that use this background image:

UL.tabset LI A {
  background-image: url(/images/bg-tab-1.png);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: -10px -442px;
}
This is one of multiple rules that use this background image:

UL.tabset LI.tab-1 A {
  background-image: url(/images/bg-tab-1.png);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: -10px -442px;
}
UL.tabset LI.tab-2 A.active {
  background-image: url(/images/bg-tab-2-h.png);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: -10px -528px;
}
UL.tabset LI.tab-3 A {
  background-image: url(/images/bg-tab-3.png);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: -10px -614px;
}
.hebrew .tabs-container .info-cols .note-box {
  background-image: url(/images/bg-comment-lrg.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: -10px -738px;
}
UL.tabset LI.tab-4 A {
  background-image: url(/images/bg-tab-4.png);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: -10px -796px;
}
This is one of multiple rules that use this background image:

.link-box LI.item-1 A {
  background-image: url(/images/ico-14.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: 64px -875px;
}
This is one of multiple rules that use this background image:

.hebrew .link-box LI.item-1 A {
  background-image: url(/images/ico-14.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: 64px -875px;
}
UL.logos LI {
  background-image: url(/images/bg-links-separator.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: 32px -911px;
}
This is one of multiple rules that use this background image:

UL.tabset LI.tab-1 A STRONG {
  background-image: url(/images/icon-done.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: 123px -950px;
}
This is one of multiple rules that use this background image:

.hebrew UL.tabset LI.tab-1 A STRONG {
  background-image: url(/images/icon-done.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: 123px -950px;
}
This is one of multiple rules that use this background image:

UL.tabset LI.tab-2 A STRONG {
  background-image: url(/images/icon-qwe.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: 124px -982px;
}
This is one of multiple rules that use this background image:

.hebrew UL.tabset LI.tab-2 A STRONG {
  background-image: url(/images/icon-qwe.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: 124px -982px;
}
This is one of multiple rules that use this background image:

UL.tabset LI.tab-3 A STRONG {
  background-image: url(/images/icon-close-1.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: 124px -1014px;
}
This is one of multiple rules that use this background image:

.hebrew UL.tabset LI.tab-3 A STRONG {
  background-image: url(/images/icon-close-1.gif);
  background-image: url(/images/rsvp_more_spriteme4.png);
  background-position: 124px -1014px;
}