- if not @uploaded_pictures.blank?
  - for picture in @uploaded_pictures
    %li
      %a{:href => "#"}
        %img{:src => "#{picture.pic.url(:small)}", :width => "75", :height => "76", :alt => ""}
!= render(:partial => "uploaded_pictures/empty_thumbnail")
