#upload_file.lb-popup.lb-popup-1
  .c
    .popup-heading
      %strong= _("Upload Picture")
    - form_for(@uploaded_picture, :url => uploaded_pictures_path(:format => 'js'), :html => {:multipart => true, :target => 'upload_frame', :class => "download-form"}) do |f|
      = f.object.errors.on(:base)
      != render(:partial => "upload_form", :locals => {:f => f, :max_file_size => "4"})
