- f.inputs :name => "User Settings" do
  != f.input :name
  != f.input :email, :input_html => {:disabled => !f.object.new_record?}, :required => f.object.new_record?
  - when_admin do
    != f.input :is_admin
