- f.inputs :name => _("User Settings") do
  != f.input :name, :label => _("Name")
  != f.input :email, :input_html => {:disabled => !f.object.new_record?}, :required => f.object.new_record?, :label => _("Email")
  - when_admin do
    != f.input :is_admin
