%h1= _("Account Settings")

- semantic_form_for(@user, :live_validations => true) do |f|
  != render :partial => "form", :locals => { :f => f }
  != f.submit _("Update")

!= link_to _("change password"), password_edit_path
