%h1
  Users
  = " (disabled)" if params[:disabled]

!= link_to "Enabled", users_path
!= link_to "Disabled", users_path(:disabled => true)

%table
  %tr
    %th Name
    %th Email
    %th Admin?
    %th
    %th
  != render :partial => @users