- @page_title=_("Profile | Eventify")
.top-text
  %h2= _("Hello %{username},") % {:username => h(current_user.name)}
  %p= _("You can change your name and password here.")

- page_with_tabs(:settings) do

  .settings-box
    - setting_row(_("Name:"), current_user.name, "jQuery('#edit_user').toggle()")
    - setting_row(_("Email:"), current_user.email, "jQuery('#edit_user').toggle()")
    - setting_row(_("Password:"), "********", "jQuery('#change_password').toggle()")

    != render(:partial => "passwords/edit")

    != render(:partial => "users/edit")