.top-text
  %h2= _("Hello %{username},") % {:username => current_user.name}
  %p= _("In your page you can track the events you’ve created, and create new ones!")

- page_with_tabs(:settings) do

  .settings-box
    - setting_row(_("Name:"), current_user.name, "jQuery('#edit_user').toggle()")
    - setting_row(_("Email:"), current_user.email, "jQuery('#edit_user').toggle()")
    - setting_row(_("Password:"), "********", "jQuery('#change_password').toggle()")

    != render(:partial => "passwords/edit")

    != render(:partial => "users/edit")