%ul.logos
  %li!= link_to image_tag("icon-date.gif", :height => "29", :alt => "", :width => "31"), send(lnk, event), :title => _("Export to iCal")
  %li!= link_to image_tag("logo-micro.gif", :height => "29", :alt => "", :width => "81"), send(lnk, event, :convert => true), :title => _("Export to Outlook")
  %li!= link_to image_tag("http://www.google.com/calendar/images/ext/gc_button1.gif", :border => "0", :alt => ""), google_calendar_url(event_id), :title => _("Send to My Gmail"), :target => "_blank"
