.tabset-holder
  %ul.tabset
    - link_to_guests_filter(_("RSVP yes"), "yes", parent.guests.rsvp_yes.count, 1)
    - link_to_guests_filter(_("RSVP may be"), "maybe", parent.guests.rsvp_maybe.count, 2)
    - link_to_guests_filter(_("RSVP no"), "no", parent.guests.rsvp_no.count, 3)
    - if params[:separate_not_responded]
      - link_to_guests_filter(_("Not RSVPed"), "not_rsvped", parent.guests.rsvp_not_rsvped.count, 4)
      - link_to_guests_filter(_("Not Opened Invitation"), "not_opened_invite", parent.guests.rsvp_not_opened_invite.count, 6)
    - else
      - link_to_guests_filter(_("Not responded"), "not_responded", parent.guests.rsvp_not_responded.count, 4)
    - unless params[:query].blank?
      - link_to_guests_filter(_("Search Results"), "", collection.total_entries, 5)
    - if !params[:previous_query_entries_count].blank? && params[:query].blank?
      - link_to_guests_filter(_("Search Results"), "", params[:previous_query_entries_count].to_i, 5)
