.container
  .main-box
    %h1
      Our site allows you to manage your events easily and have cool
    %p
      Choose a cool invite, or even upload your own photo. Add event details, with a map and a personal message, and send to all your friends through email, sms and facebook!
  .box
    .image
      %img{ :src => "images/img-box-1.jpg", :alt => "ill" }
    %strong.num
      1
    .text-h
      %strong
        Choose an invite
      %p
        From our fabelous gallery or upload your own pic
  .box
    .image
      %img{ :src => "images/img-box-2.gif", :alt => "ill" }
    %strong.num
      2
    .text-h
      %strong
        Enter event details
      %p
        You can also upload a map and a persoanl message
  .box
    .image
      %img{ :src => "images/img-box-3.gif", :alt => "ill" }
    %strong.num
      3
    .text-h
      %strong
        Invite Friends!
      %p
        You can also upload a map and a persoanl message
