.popular
  .col-1
    .col-h
      %a.btn-brown{ :href => "#" }
        %span
          MORE
      %h2
        Halloween
    .img-box
      .img-box-t
        .img-box-b
          .image
            %img{ :src => "images/img-ill-1.gif", :alt => "ill" }
          %a.blue-btn-sml{ :href => "#" }
            %span
              SELECT
    .img-box.img-box-1
      .img-box-t
        .img-box-b
          .image
            %img{ :src => "images/img-ill-2.gif", :alt => "ill" }
          %a.blue-btn-sml{ :href => "#" }
            %span
              SELECT
  .col-2
    .col-h
      %a.btn-brown{ :href => "#" }
        %span
          MORE
      %h2
        Birthdays
    .img-box
      .img-box-t
        .img-box-b
          .image
            %img{ :src => "images/img-ill-3.gif", :alt => "ill" }
          %a.blue-btn-sml{ :href => "#" }
            %span
              SELECT
    .img-box.img-box-1
      .img-box-t
        .img-box-b
          .image
            %img{ :src => "images/img-ill-4.gif", :alt => "ill" }
          %a.blue-btn-sml{ :href => "#" }
            %span
              SELECT
