.promo
  .promo-t
    .promo-b
      .promo-gallery
        %img.png{ :src => "images/img-gallery.png", :alt => "gallery" }
      .promo-nav
        != link_to_function _("Prev"), "", :class => "prev"
        .promo-nav-h
          %ul
            - all_enabled_categories.each do |c|
              %li
                != link_to_function(c.name, "", :class => "category_chooser", :id => "category_chooser#{c.id}")
        != link_to_function _("Next"), "", :class => "next"
