.promo
  .promo-t
    .promo-b
      .promo-gallery
        %img.png{ :src => "images/img-gallery.png", :alt => "gallery" }
      .promo-nav
        %a.prev{ :href => "#" }
          Prev
        .promo-nav-h
          %ul
            %li.active
              %a{ :href => "#" }
                New Designs
            %li
              %a{ :href => "#" }
                Halloween
            %li
              %a{ :href => "#" }
                Christmas
            %li
              %a{ :href => "#" }
                Kids Birthdays
            %li
              %a{ :href => "#" }
                Thanksgiving
            %li
              %a{ :href => "#" }
                Poker Party
            %li
              %a{ :href => "#" }
                Nav
            %li
              %a{ :href => "#" }
                Nav
            %li
              %a{ :href => "#" }
                Nav
            %li
              %a{ :href => "#" }
                Nav
            %li
              %a{ :href => "#" }
                Nav
        %a.next{ :href => "#" }
          Next
