.event-menu
  %ul
    %li.sum!= link_to_function _("Event summary"), "alert('todo')"
    %li.share!= link_to_function _("Share event"), "alert('todo')"
    %li.duplicate!= link_to_function _("Duplicate event"), "alert('todo')"
    %li.cancel!= link_to_function _("Cancel event"), "alert('todo')"