.event-menu
  %ul
    %li.sum!= link_to _("Event summary"), summary_path(event)
    - if event.changes_allowed?
      %li.cancel!= link_to _("Cancel event"), event_path(event), :confirm => _("Are you sure?"), :method => :delete
    - elsif event.canceled?
      - if !event.cancellation_sent?
        != link_to _("Notify guests"), edit_cancellation_path(event)
      - else
        = _("Guests notified")