:javascript
  jQuery(function(){    
    var moinitor_names = [];
    window.resend_invitations = false;
    for (var i=1; i<6; i++) {
      moinitor_names.push("event[starting_at(" + i + "i)]")
    }
    moinitor_names.push("event[location_name]");
    moinitor_names.push("event[location_address]");
    old_values = {};
    for (var i=0; i<moinitor_names.length; i++) {
      var currEl = jQuery("[name=" + moinitor_names[i] + "]");
      old_values[moinitor_names[i]] = (currEl.val() == currEl.attr('def_value') ? "" :  currEl.val());
    }
    setInterval(function(){
      for (var i=0; i<moinitor_names.length; i++) {
        var currEl = jQuery("[name=" + moinitor_names[i] + "]");
        var def_value = currEl.attr('def_value');
        var v = currEl.val();
        if (old_values[moinitor_names[i]] != v && v != def_value && def_value != undefined && old_values[moinitor_names[i]] != def_value) {
          old_values[moinitor_names[i]] = v;
          window.resend_invitations = jQuery("#resend_invitations").is(':checked');
          if (!window.resend_invitations) {            
            setTimeout(function(){
              jQuery(".resend_invitaions").show();
              jQuery.nyroModalManual({content:#{render(:partial => "resend_invitations_popup").to_json}});
            }, 800);
          }
        }
      }
    }, 300);
  });
