.import
  .popup-heading
    %strong= _("Event details are changed")
  .confirmation
    %h2= _("Do you want to resend invitation after saving event details to the guests that already received an invitation by email or sms?")
  .contact-btns
    %br
    != link_to_function s_("resend|Yes"), "jQuery('#resend_invitations').attr('checked', 'checked').redraw_customCheckbox();jQuery.nyroModalRemove()", :class => "btn"
    != link_to_function s_("resend|No"), "jQuery.nyroModalRemove()", :class => "btn"

