.visual-box
  .holder
    .frame
      .image-h
        != image_tag(@event.design.preview.url(:stage2))
        .info-holder{:style => stage2_design_css(@event.design)}
          #title.title
          #free_text.free_text
      != link_to_function content_tag(:span, _("Advanced design options")), "alert('todo')", :class => "blue-btn-mdl"