.visual-box
  .holder
    .frame
      .image-h
        != image_tag(@design.preview.url(:stage2))
        .info-holder{set_text_box}
          %h3
            Lorem ipsum
          %ul
            %li
              %strong
                Lorem: dd/mm/yy
            %li
              %strong
                Lorem:
              00:00
            %li
              Lorem
            %li
              Lorem
            %li
              Lorem
      != link_to_function content_tag(:span, _("Advanced design options")), "alert('todo')", :class => "blue-btn-mdl"