.visual-box
  .holder
    .frame
      .image-h{:style => "background-image: url('#{@event.design.card.url(:stage2)}');width: 561px;height: 374px;"}
        != render(:partial => "events/title_and_message", :locals => {:event => @event})
