%ul.tabset-nav
  %li.done
    %a{ :href => "#" }
      %span
        %strong 1
        %em= _("Design your invite")
  %li.active
    %a{ :href => "#" }
      %span
        %strong 2
        %em= _("Event details")
  %li
    %a{ :href => "#" }
      %span
        %strong 3
        %em= _("Invite guests")
  %li
    %a{ :href => "#" }
      %span
        %strong 4
        %em= _("RSVPs")