#title-holder.title-holder{:style => title_position_css(event)}
  #title.title
    != (h(event.invitation_title) || "").gsub(/\n/, "<br/>").gsub(/ /, "&nbsp;")
#msg-holder.msg-holder{:style => message_position_css(event)}
  #free_text.free_text
    != (h(event.guest_message) || "").gsub(/\n/, "<br/>").gsub(/ /, "&nbsp;")
- set_windows(event, 1.605)
.crop_preview

