- @content_css_class = "stars-bg stage-3"

- content_for(:head) do
  != stylesheet_link_tag "calendar"
  != javascript_include_tag "mootools", "calendar", "fieldSelection", "stage2"
!= render(:partial => "event_form")