- @content_css_class = "stars-bg stage-3"

- events_content_section(4, nil, @event) do
  .content-section-heading
    %h1= _("Set event reminders for you and your guests")


  .info-area-tab
    .holder
      .frame
        %h3= _("Reminders")
        todo
  %br
  .info-area-tab
    .holder
      .frame
        %h3= _("Message Confirmations")
        todo
