- @page_title = _("About | Eventify")

.top-text
  %h2= _("About Eventify Header")
  %h3
    Who We Are
  %p
    Eventify is first and foremost a family, each member contributing in their specific field. Created out of necessity for an online invitation service that was highly visual, very simple to use and offered in multiple languages. 

  %h3
    What Is Eventify?

  %p
    Eventify is an event’s management website that lets you choose, create and send your perfect invitation from a huge gallery of free invitation card templates. Customize them with your own pictures or corporate logo. There’s an invitation for any event or occasion you can think of. From holidays to birthdays, and business events to private parties, choosing a stunning invitation template is a click away. We’ve also created a super easy management system so you’re in complete control.
  %p
    Features include:
  %ul
    %li
      Sending of invitations to email or SMS
    %li
      Automatic reminders you can set
    %li
      Replies and guest confirmations
    %li
      Last minute event changes
    %li
      Thank you notes to guests
    %li
      Links to images from the event
    %li
      Choose from exclusive fonts; create unique invitations and so much more coming soon!

  %h3
    Why Create Your Invitation With Us?

  %p
    We’ve wrapped up all the tools you need to create elegant invitations in style.
  %p
    Eventify is currently offered in English & Hebrew, with more languages to come!
  %p
    Save time by creating, sending and managing your invitations. Once the party is over, guests can send you their thoughts and feedback.
