- @page_title = _("About | Eventify")

.top-text
  %h2= _("About Eventify Header")
  %p
    Eventify מציעה לכם ניהול נח,מהיר ומהנה של הארוע שלכם.
  %p
    בין אם אתם מארגנים ארוע קטן ואינטימי (מפגש של החבר'ה, ערב בנות, יציאה לסרט, טיול) ובין אם אתם מארגנים ארוע גדול וססגוני (חתונה, ברית/ה, יום הולדת, ארוע התרמה). אנחנו ב Eventify  חשבנו (וממשיכים לחשוב!) על פתרונות עבורכם. 
  %p
    אנו מאמינים שהארוע מתחיל כבר ביצירת ההזמנה!
  %p
    בחרו הזמנה מעוצבת המתאימה בדיוק לאירוע שלכם, הוסיפו מסר אישי לאורחים,  מפה ואפילו תמונה משלכם.
  %p
    שלחו לאורחים את ההזמנה במייל, ב SMS או העלו אותה ל Facebook.
  %p
    Eventify  ממשיכה ללוות אתכם גם לאחר שליחת ההזמנה ומציעה לכם מגוון של שירותים נוספים שיעזרו לכם בניהול הארוע:
  %ul
    %li
      תזכורות לאורחים
    %li
      עידכונים "של הרגע האחרון"
    %li
      עריכה של רשימת "דברים להביא" לארוע
    %li
      רשימת מתנות אותן תרצו לקבל
    %li
      הדפסת הזמנות בבית או בבית דפוס
    %li
      מעקב און ליין אחר תגובות המוזמנים ואישורי ההגעה
    %li
      דף משימות
    %li
      שליחת פתקי תודה לאורחים
    %li
      קישור לתמונות מהארוע
    %li
      ועוד הרבה הפתעות בדרך!
  %p
    Eventify - להתרגש כבר ביצירת ההזמנה!
