- @page_title = _("Contact Us")

.top-text.static
  %h1= _("Contact Us")
  %p
    שיתופי פעולה, פיתוח עסקי ומכירות:
    %a{:href => "mailto:contact@eventify.co.il"}contact@eventify.co.il
  %p
    כתבות ופרסומים:
    %a{:href => "mailto:press@eventify.co.il"}press@eventify.co.il
  %p
    נושאים משפטיים וזכויות יוצרים:
    %a{:href => "mailto:legal@eventify.co.il"}legal@eventify.co.il
  %br
  %h2
    קשרי לקוחות:
  %p
    חברי הצוות ב-Eventify מחוייבים לעשות הכל על מנת להקל ולהנעים את תכנון הארוע שלך וניהולו על כל שלביו והבטיו.
  %p
    תגובות, רעיונות חדשים ולקחים שעולים מחווית השימוש מהווים בסיס לתהליך של עשייה ושיפור הנעשים סביב השעון.
  %p
    אם נתקלת בבעיה כלשהי במהלך השימוש בשרות או שאופן השימוש לא ברור לך מספיק, נשמח לשמוע על כך ב-
    %a{:href => "mailto:support@eventify.co.il"}support@eventify.co.il
  %p
    אנו מבטיחים לעזור, להסביר או לפתור את הבעיה, במהירות האפשר.
  %p
    הצעות לשיפור, הערות בונות, וסתם תובנות בנושא ארועים ובכלל, יתקבלו בברכה ב-
    %a{:href => "mailto:feedback@eventify.co.il"}feedback@eventify.co.il