.terms
  %h2{:style => "text-align: center;"}
    תנאי התקשרות עם מעצבים
  %p
    ברוכים הבאים לתוכנית המעצבים של איוונטיפיי.
  %p
    התנאים שלהלן  ("
    %b="תנאי ההתקשרות"
    "), כפי שיעודכנו מעת לעת, יחד עם
    %a{:href => page_path("terms"), :style => "text-decoration:underline;color:blue;"}="תנאי השימוש הרגילים של האתר"
    (בהתאמה: "
    %b="תנאי השימוש"
    " ו"
    %b="האתר"
    ") מסדירים את היחסים בין איוונטיפיי בע"מ ("
    %b="איוונטיפיי"
    ") לבינך בכל הנוגע לתוכנית המעצבים של איוונטיפיי (כהגדרתה להלן). בכפוף לתנאים אלו ולהתחייבותך לעמוד בהם, תוכל להציע למשתמשי האתר לעשות שימוש בהזמנות פרי עיצובך ולקבל על כך תשלום ("
    %b="תוכנית המעצבים"
    ").
  %p
    איוונטיפיי שומרת לעצמה את הזכות לשנות את תנאי ההתקשרות ובכלל זה את התשלומים להם תהיה זכאי. האחריות המלאה להכרת תנאי ההתקשרות, כפי שיעודכנו מעת לעת, ולהשתתפות בתוכנית המעצבים, על פי תנאי ההתקשרות, חלה עליך בלבד. ההשתתפות בתוכנית המעצבים, ובכלל זה הגשת בקשה להצטרפות לתוכנית, מהווים את הסכמתך לתנאי ההתקשרות ולכל תנאי השימוש באתר. אנא קרא בעיון את תנאי ההתקשרות וצור עימנו קשר בכל שאלה בקשר אליהם. מובהר כי תנאי ההתקשרות הינם ממצים והוראותיהם גוברות על כל הסכמה קודמת, בין בעל פה ובין בכתב, אשר הייתה, ככל שהייתה, בינך לבין איוונטיפיי, בנוגע לנשוא תנאי ההתקשרות. פרט לכך, אין באמור בתנאי ההתקשרות כדי לגרוע מתוקפו של כל הסכם אחר בינך לבין איוונטיפיי אלא אם הוסכם אחרת בכתב ובמפורש.
  %p
    אינך רשאי להשתתף בתוכנית המעצבים אם אינך כשיר ליצור הסכם משפטי מחייב או אם השימוש באתר אסור לפי החוקים החלים עליך או לפי כל עניין אחר.
  %p
    תנאי ההתקשרות נכתבו בלשון זכר, אולם בכל מקום בו נוקטים תנאי ההתקשרות לשון זכר, הכוונה גם לנקבה ולחבר בני אדם בין שהוא תאגיד ובין שאינו תאגיד.
  %h3
    הגשת מועמדות
  %p
    על מנת להגיש את מועמדותך לתוכנית המעצבים תתבקש לשלוח לאיוונטיפיי שלוש דוגמאות להזמנות פרי עיצובך ("
    %b="הדוגמאות"
    "), אשר יאפשרו לאיוונטיפיי להעריך את התאמתך לתוכנית המעצבים. במשלוח הדוגמאות לאיוונטיפיי הינך מצהיר ומתחייב שהדוגמאות הינן פרי עבודתך העצמאית, שהינך הבעלים של כל זכויות היוצרים בהן, ושאין בהן משום הפרה של כל זכות של צד שלישי כלשהו, ובכלל זה סימן מסחר או זכות יוצרים.
  %p
    משלוח הדוגמאות לאיוונטיפיי אינו מבטיח את קבלתך לתוכנית המעצבים. איוונטיפיי תודיעך בתוך זמן סביר ממועד משלוח הדוגמאות בדבר קבלתך או אי-קבלתך לתוכנית המעצבים. קבלתך לתוכנית המעצבים כפופה לשיקול דעתה הבלעדי של איוונטיפיי, ללא כל צורך לנמק את החלטתה.
  %h3
    השתתפות בתוכנית המעצבים
  %p
    אם תתקבל לתוכנית המעצבים, יפתח עבורך דף מעצב תחת האתר של איוונטיפיי. הגישה לדף המעצב תהיה באמצעות החשבון שלך באיוונטיפיי. בדף המעצב תוכל לפרסם מידע אודותיך, קישור לדף הבית שלך, שלוש עבודות מפרי עיצובך בתחומים אחרים וכן את ההזמנות שברצונך להציע במסגרת האתר (בהתאמה: "
    %b="דף המעצב"
    " ו"
    %b="ההזמנות המוצעות"
    ").
  %p
    ההזמנות המוצעות יוצעו לגולשי איוונטיפיי כחלק מכלל ההזמנות הקיימות באתר, וכפי שאיוונטיפיי תמצא לנכון מעת לעת. מבלי לגרוע מהרישיון המוענק לאיוונטיפיי על פי תנאי התקשרות אלה להלן, איוונטיפיי תהיה רשאית להציע לגולשים לעשות שימוש בהזמנות המוצעות, בין היתר, באופן מקוון ובהדפסה בצורות שונות (כמו למשל כהזמנות בפורמט רגיל, בלוח שנה, בהדפסה על מגנט וכולי). איוונטיפיי תהיה רשאית, לפי שיקול דעתה הבלעדי, למנוע פרסומם של הזמנות וכל תוכן אחר ולהסיר הזמנות וכל תוכן אחר לאחר פרסומם, ובכלל זה אם הם אינם עומדים בתנאים המפורטים להלן או אם הם אינם עומדים, לדעת איוונטיפיי, בדרישותיה המקצועיות.
  %p
    הינך מאשר ומסכים לכך שאיווטיפיי תהיה רשאית לשנות מעת לעת את צורתה, תוכנה ומהותה של תוכנית המעצבים, ובכלל זה להשהותה או לבטלה כליל, ללא כל צורך בהודעה מוקדמת. אין בהסכם זה כל התחייבות של איוונטיפיי לאפשר לך להציע הזמנות דרך האתר, לשמור את דף המעצב או לאפשר אליו גישה או לשלם לך סכום כסף.
  %p
    הינך רשאי להחזיק חשבון אחד בלבד באיוונטיפיי, והינך מתחייב לא לפתוח יותר מחשבון אחד בלבד, במישרין או בעקיפין.
  %h3
    דף המעצב
  %p
    דף המעצב יפתח תחת שם המתחם של איוונטיפיי בכתובת המבוססת על שמך, כדלקמן: http://www.eventify.co.il/designers/your-name, והיא ניתנת לשינוי לפי בקשתך, בכפוף לכך שאינך רשאי להשתמש בכתובות שייחשבו פוגעניות, מפרות, מטעות או בלתי-נאותות. איוונטיפיי אינה מבטיחה שהכתובת בה תחפוץ תהיה פנויה או תינתן לך. איוונטיפיי שומרת לעצמה את הזכות, לפי שיקול דעתה הבלעדי, בכל עת, לשנות, ליטול, להשעות, לבטל או להעביר את דף המעצב או את כתובתו.
  %p
    בדף המעצב תוכל ליצור פרופיל שבו תתאר את עצמך ואת עסקך ותוכל להפנות לאתר המקצועי שלך, העוסק בעיצוב. אתה אחראי על כל המידע שתעלה לדף המעצב, ובפרט, כל מידע אישי או מזהה שתפרסם במסגרת דף המעצב וכל השלכה של פרסום כאמור יהיו באחריותך המלאה. הינך מתחייב להפנות מהאתר אך ורק לאתר העוסק בפועלך כמעצב.
  %p
    ככל שתפרסם בדף המעצב קישור לאתר אחר, יהיה קישור זה וכל טענה שתהיה לגולשי האתר ביחס לקישור הזה, באחריותך המלאה.
  %p
    איוונטיפי תהא זכאית, אך לא חייבת, לקדם ולפרסם את דף המעצב ואת ההזמנות המוצעות לפי שיקול דעתה, ולא תהיה לך כל טענה בשל פעולה או העדר פעולה מצד איוונטיפיי כאמור.
  %p
    ככל שתחפוץ להסיר את דף המעצב, תוכל לעשות כן באמצעות ממשק המשתמש באתר. במידת הצורך איוונטיפיי תסייע לך לעשות זאת כפי שתידרש באופן סביר. עם הסרת דף המעצב לא יוצעו עוד ההזמנות המוצעות לציבור, אולם הן ימשיכו להיות זמינות למשתמשים אשר עשו בהן שימוש, במסגרת השימוש אשר עשו. יתר על כן, עותקי מטמון של האתר, קישורים באתרים של צדדים שלישיים וכיוצא באלה, לא יוסרו.
  %h3
    יחסיך עם איוונטיפיי
  %p
    התקשרותך עם איוונטיפיי הינה כקבלן עצמאי. הנך מאשר ומסכים כי בינך ובין כל מי מטעמך לבין איוונטיפיי לא יתקיימו יחסי שותפות או יחסי עובד מעביד ולא תהיה זכאי לקבל מאיוונטיפיי תנאים וזכויות סוציאליות כלשהן הנובעים מיחסי עובד מעביד. מוסכם ומודגש כי התמורה המפורטת בתנאי ההתקשרות נקבעה לאור העובדה שבינך לבין איוונטיפיי לא מתקיימים יחסי עובד מעביד, ותמורה זו היא העלות המלאה, הכוללת והבלעדית שתהיה לאיוונטיפיי בגין כל הקשור בהשתתפותך בתוכנית המעצבים. הינך מתחייב לשפות את איוונטיפיי בגין כל סכום, זכות, הטבה והוצאה (ובכלל זה הוצאות משפט, שכר טרחת עו"ד, פיצויים, ריבית והצמדה וכיו"ב) אשר תידרש איוונטיפיי לשלם לך או לכל צד שלישי כלשהו עקב קביעה כי בינך לבין איוונטיפיי התקיימו יחסים שאינם יחסי מזמין-קבלן משנה, ובכלל זה יחסי עובד-מעביד.
  %h3
    תמורה
  %p
    ההזמנות המוצעות יוצעו למשתמשי האתר כשירות פרימיום בתשלום. אתה תהיה זכאי ל-[___] אחוזים מכל ההכנסות בפועל שיניבו לאיוונטיפיי ההזמנות המוצעות על-ידך ("
    %b="התמורה"
    "), ובלבד שיגיעו לסכום המינימאלי (כהגדרתו להלן). התמורה תשולם לך באמצעות חשבון פייפאל (PAYPAL) או בשיק אשר ישלח בדואר רגיל לכתובת אשר תמסור לאיווטיפיי, עד ליום ה-10 בכל חודש קלנדרי, ובלבד שסך התמורה שתצבור בחשבונך עד לאותו יום יגיע לסכום של [____] ₪ ("
    %b="הסכום המינימאלי"
    "). עם תשלום התמורה יאופס הסכום שבחשבונך. לא הצטבר בחשבונך הסכום המינימאלי עד ליום העשירי בחודש קלנדארי, יידחה התשלום לחודש הבא, וחוזר חלילה. התמורה תשולם בשקלים חדשים.
  %p
    מובהר בזאת כי איוונטיפיי אינה צד להסכם בינך לבין פייפאל וחובתה של איוונטיפיי להעביר לך את התמורה תתמלא עם העברתה לידי פייפאל או עם משלוח השיק בדואר, בהתאם למידע שהועבר על-ידך לאיוונטיפיי. איוונטיפיי לא תהיה אחראית על כל תקלה, מניעה, עיכוב, הוצאה או הפסד שייגרמו לך ואינם תחת שליטתה הסבירה.
  %p
    התמורה הינה הסכום המלא והסופי אשר ישולם לך על-ידי איוונטיפיי והיא כוללת כל מס, עמלה והיטל מכל סוג שהוא, על פי כל דין, לרבות מס הכנסה, מע"מ וכל תשלום אחר. זוהי חובתך ואחריותך לבדוק מהם המיסים והעמלות החלים עליך, כולל עמלות לפייפאל. הנך מתחייב לשלם כל מס, עמלה והיטל אשר יחולו. איוונטיפיי תהיה רשאית לנכות במקור כל סכום אשר תדרש לנכות על-פי כל דין, וסכום שנוכה כאמור יחשב כסכום ששולם לך. תשלום התמורה עשוי להיות כפוף להמצאת אישורים מצד רשויות שונות, בהן רשות המיסים, כפי שתמצא איוונטיפיי לנכון.
  %p
    במקרה שבו ייעשה שימוש בהזמנות המוצעות על-ידך יחד עם הזמנות נוספות, תהיה רשאית איוונטיפיי לקבוע איזה חלק מההכנסה הכוללת הניבו ההזמנות שהוצעו על-ידך.
  %h3
    קניין רוחני
  %p
    הסכם זה אינו מעניק לך כל רישיון או זכות בתוכנו של האתר והשירותים הניתנים במסגרתו מעבר לאלה אשר ניתנים על פי תנאי השימוש, ככל שניתנים.
  %p
    הנך אחראי כלפי איוונטיפיי לכל תוכן שתיצור, תציג, תפרסם ותציע במסגרת האתר, ובכלל זה התוכן שיפורסם בדף המעצב וההזמנות המוצעות ("
    %b="התוכן"
    "), לרבות לכל נזק או אובדן שעשוי להיגרם לאיוונטיפיי בשל כך. הנך מצהיר ומתחייב כי אין בתוכן כל הפרה של כל זכות של צד שלישי, ובכלל זה סימן מסחר, זכות יוצרים וכל זכות אחרת. הינך מתחייב לא לערוך כל שימוש בסימן, צורה, אלמנט גרפי או לוגו שיש בו כדי לגרום לחוסר בהירות באשר לבעליו של אותו פרט. הינך מצהיר כי הינך בעל מלוא זכויות הקניין הרוחני בתוכן, וזכויות היוצרים בתוכן בפרט. בהעברת התוכן לאתר או בפרסומו באמצעות האתר הינך מעניק לאיוונטיפיי רישיון תמידי, שאינו ניתן לביטול, גלובלי, ללא חיוב בתמלוגים, להשתמש, להעתיק, לשכפל, להפיץ, לשנות, ליצור יצירה נגזרת, לתרגם, לפרסם, להדפיס, למכור, לבצע באופן פומבי ולהציג באופן פומבי, בכל דרך ובכל צורה שהיא, את התוכן ("
    %b="הרישיון"
    "). איוונטיפיי תהיה רשאית להעביר רישיון זה לכל גורם. הנך מצהיר כי אתה בעל הכוח להעניק לאיוונטיפיי רישיון כאמור. הינך מסכים כי הרישיון המוענק לאיוונטיפיי הינו רישיון בלעדי לתחום מכירה מקוונת של הזמנות לאירועים (הן הזמנות מודפסות, הן הזמנות וירטואליות). לאור זאת הינך מתחייב לא להציע את ההזמנות המוצעות באמצעות אתר אינטרנט מתחרה.
  %p
    מבלי לגרוע מכלליות האמור לעיל, הינך מתחייב שהתוכן לא יכלול:
  %ul
    %li
      השמצה, גידופים, הטרדה, מעקב, איום או כל הפרה אחרת של זכויות של צדדים שלישיים.
    %li
      כל חומר או מידע לא-ראויים, גסים, משמיצים, מגונים, פורנוגרפיים, שקריים, מסיתים לשנאה, אפליה, גזענות או אלימות, או שיש בהם משום לשון הרע, עידוד עבירות פליליות או אזרחיות, פגיעה בפרטיות, גרימת נזק, פגיעה ברגשות הציבור או תכנים אשר מהווים הפרה כלשהי של החוק או של התחייבות חוזית.
    %li
      תמונות, צילומים, תוכנות או חומר אחר המוגנים על פי דין (ובכלל זה הדין העוסק בפרטיות ובפרסום), אלא אם הזכויות לגבי חומר זה נמצאות בבעלותך או בשליטתך, או שקיבלת את ההסכמות הדרושות כדי לעשות זאת.
    %li
      תוכנות מחשב פוגעניות, לרבות וירוסים, סוסים טרויאניים וכיוצא באלה, תוכנות ותכנים העלולים לפגוע בתפקוד מחשב או טלפון נייד של אדם אחר או ברכושו של אדם אחר.
    %li
      קובץ שהוצב על-ידי משתמש אחר באתר ואשר ידוע לך, או שאתה אמור לדעת באופן סביר, כי לא ניתן להפיצו באופן חוקי בצורה זו.
    %li
      זיוף או מחיקה של ייחוס של היוצר, הודעות משפטיות, הודעות אחרות, ציוני קניין או מידע לגבי מקור התכנים והשירותים.
  %p
    הינך מתחייב לשפות את איוונטיפיי, לקוחותיה, ספקיה וכל הפועלים מטעמה, מיד עם דרישתם הראשונה, בגין כל סכום שידרשו לשלם ובגין כל הוצאה שתיגרם להם בגין כל טענה או תביעה לפיה התוכן מפר זכות של צד שלישי כלשהו, לרבות הוצאות משפט, שכר טרחת עו"ד, ריבית והצמדה, וכיוצא באלה. הינך מתחייב לסייע לפי דרישתה של איוונטיפיי בהתגוננות מפני דרישה או תביעה כאמור, לרבות באמצעות אספקת מידע שאיוונטיפיי תדרוש, התייצבות להליך וכיו"ב.
  %h3
    סודיות
  %p
    לעניין תנאי התקשרות אלה - "
    %b="מידע סודי"
    " - כל מידע או ידע, מכל מין וסוג, של איוונטיפיי או הקשור לאיוונטיפיי, ובכלל זה מידע אודות מכירות, תשלומים, תוכניות, תחזיות, לקוחות ולמעט מידע שהפך לנחלת הכלל.
  %p
    אין בתנאי התקשרות אלה משום התחייבות למסור לך כל מידע אודות איוונטיפיי והאתר, ובכלל זה בדבר הפעילות בדף המעצב. עם זאת, במהלך ההתקשרות בין אינווטיפיי לבינך, עשוי להגיע לידיעתך מידע סודי. הינך מתחייב כי בתקופת ההתקשרות עם איוונטיפיי ולאחר סיומה, מכל סיבה שהיא, וזאת ללא הגבלת זמן, תשמור בסודיות, לא תמסור ולא תגלה לצד שליש כלשהו, במישרין או בעקיפין, את המידע הסודי, לא תעשה כל שימוש במידע הסודי ותשמור על סודיותו בקפידה תוך נקיטת אמצעי זהירות נאותים.
  %h3
    אבטחת מידע ופרטיות
  %p
    הגישה לשירותי האתר מתאפשרת באמצעות סיסמא. הנך מתחייב שלא להשתמש בסיסמא, בשם המשתמש ובקוד סודי של אחר ולא למסור את הסיסמא, שם המשתמש והקוד הסודי שלך לכל צד שלישי. חשוב שתשמור על סודיות פרטיך (ושתדווח לאיוונטיפיי מייד ברגע שתגלה שאבדו או שמישהו עשה בהם שימוש בלי הסכמתך), כיוון שאתה עלול להיות אחראי לשימוש שיעשה בהם (כולל לתשלום עבור שירותים), אפילו אם נעשה בלא הסכמתך. אנו ממליצים כי תשנה את סיסמתך מפעם לפעם. הנך מתחייב שלא להשתמש בפרטים של אדם אחר בלי הרשאה.
  %p
    איוונטיפיי אינה בודקת את המידע והתכנים שעוברים ברשת, למעט לצורך הגנה על הרשת שלה, ולכן באחריותך לנקוט באמצעי אבטחה הולמים (כגון כנגד וירוסים, חדירה למחשבים, אובדן מידע, חשיפת סודות וכו'), הנובעים מקישור לרשתות תקשורת חיצוניות או מהיכולת לקבל קבצים ומידע אחר ממקורות שונים, וכל שימוש שתעשה במידע או בשירותים הוא על אחריותך בלבד.
  %p
    הפרטים שתמסור בעת ההתקשרות עם איוונטיפיי ובכל פניה אחרת שלך אליה יישמרו במאגר מידע ממוחשב. איוונטיפיי תשמור על פרטיות הנתונים שלך בהתאם לדין. עם זאת, איוונטיפיי תהיה רשאית לגלות את פרטיך לשם אספקת שירותי האתר, גביית כספים, עריכת חשבונות, ואכיפת זכויותיה על-פי תנאי התקשרות אלה, ותהיה רשאית להעביר פרטיך לאחר על-פי סמכות שבדין, ובהתאם לאמור בתנאי התקשרות אלה.
  %p
    כדי להגן על הנתונים שלך איוונטיפיי יכולה לדרוש שתספק לה מידע המאפשר לה לזהות אותך, כגון מספר תעודת זהות ומידע הנוגע לאמצעי התשלום שמסרת לה לצורך תשלום חשבונותיך.
  %h3
    הצהרות והתחייבויות
  %p
    הינך מצהיר ומתחייב כלפי איוונטיפיי כי:
  %ul
    %li
      בדקת את כל הפרטים הקשורים בתוכנית המעצבים, ובכלל זה קראת בעיון תנאי התקשרות אלה, ומצאת את תוכנית המעצבים מתאימה לצרכיך.
    %li
      הינך ממלא ותמלא אחר כל החוקים, התקנות, חוקי העזר והצווים החלים ו/או שיחולו עליך ועל פעילותך בקשר עם תוכנית המעצבים.
    %li
      ההצטרפות לתוכנית המעצבים וביצוע האמור בתנאי התקשרות אלה אינם עומדים בניגוד או בסתירה לכל הסכם, התחייבות או הגבלה שהינך צד להם, ואינם עומדים בניגוד או בסתירה לכל מגבלה על פי דין או לכל מגבלה אחרת המוטלת עליך.
    %li
      כל המידע אשר תמסור לאיוונטיפיי יהיה נכון, מדויק ומלא.
  %h3
    שירותי האתר; הגבלת אחריות
  %p
    כל שירותי האתר, ניתנים "כפי שהם" (As Is) ללא אחריות או חיוב מכל סוג. איוונטיפיי מסירה מעצמה בזאת כל אחריות וחיובים לגבי שירותי האתר ותכני האתר, כולל כל אחריות וחיובים משתמעים לגבי איכות טכנית, התאמה למטרה מסחרית או כללית, התאמה לתכלית מסוימת, מקצועיות הביצוע, בעלות ואי-הפרת זכויות. דבר בתנאי התקשרות אלה לא יפורש כהבטחה או כהתחייבות לכך שמשתמשי האתר יעשו שימוש בהזמנות המוצעות ויניבו לך הכנסות. מבלי לגרוע מכלליות האמור לעיל, איוונטיפיי אינה מתחייבת ששירותי האתר יסופקו ללא תקלות, כשלים בתוכנה או במערכות התקשורת ולכך שיינתנו כסדרם בלי הפסקות, ללא הפרעות וללא טעויות, ולא תהיה אחראית לכל נזק ו/או הוצאה אשר ייגרמו לך עקב תקלות כאמור. הינך מצהיר כי ידוע לך שקבלת השירותים מהאתר ואיכותם תלויה בגורמים טכנולוגיים שאינם תמיד בשליטת איוונטיפיי, כמו זמינות ותקינות של רשת האינטרנט ורשתות תקשורת אחרות וכן ציוד הקצה שברשותך. לפיכך, לא תהיה רשאי להעלות כלפי איוונטיפיי כל טענה או דרישה בכל הנוגע לאובדן, עוגמת נפש, נזק או הפסד בגין כל טעות, תקלה, פגיעה באיכות או כשל בהעברת השירותים. איוונטיפיי לא תהיה אחראית לכל אובדן, נזק או הפסד, ישיר או עקיף, אשר נגרם כתוצאה מהסתמכות על  שירותי האתר.
  %p
    איוונטיפיי אינה אחראית לזמינות שירותי האתר, וכן אינה אחראית לשום פגיעה או הפרת זכויות קניין רוחני שתיגרם במישרין ו/או בעקיפין על ידי לקוחות ומשתמשי האתר. איוונטיפיי לא תהיה אחראית לגישה ללא הרשאה או לשינוי ללא הרשאה של התכנים אשר תעלה לאתר, ולחומר או נתונים שיישלחו או יתקבלו או שלא יישלחו או שלא יתקבלו. אתה מסכים באופן מפורש לכך שאיוונטיפיי אינה נושאת באחריות או בחבות לכל תוכן או התנהגות מאיימים, משמיצים, מגונים, פוגעים או לא חוקיים של כל גורם אחר, או לכל הפרת זכויות של גורם אחר, כולל זכויות קניין רוחני. אתה מסכים באופן מפורש לכך שאיוונטיפיי אינה אחראית לכל תוכן הנשלח באמצעות ו/או נכלל באתר על-ידי צד שלישי כלשהו.
  %p
    הנך מתחייב להשתמש בשירותי האתר, בהתאם לתנאי השימוש ולהוראות הדין הישראלי, ומתחייב לשפות את איוונטיפיי, ספקיה וכל הפועלים מטעמה בגין כל נזק ו/או הוצאה, לרבות הוצאות משפטיות, אשר ייגרמו לה בגין שימושך באתר באופן המפר את תנאים והוראות אלו. מבלי לגרוע מכלליות האמור, הינך מתחייב לא לעשות כל פעולה אשר יש בה כדי (א) ליצור הגבלה או מניעה של משתמש אחר משימוש באתר ומהנאה מהם; או (ב) יצירת זהות כוזבת כדי להטעות אחרים; או (ג) איסוף, שימוש, הורדה או העתקה אחרת של רשימה של משתמשים ומנויים, או של מידע אחר לגבי משתמשים או שימוש או מתן מידע כזה (תמורת תשלום או ללא תשלום) לאדם או ישות כלשהם.
  %p
    איוונטיפיי תהיה רשאית, על פי שיקול דעתה הבלעדי, להשעות או לחסום, באופן זמני או קבוע, את הגישה שלך לשירותי האתר, להסיר את דף המעצב או את ההזמנות המוצעות ולהפסיק את המנוי שלך, מכל סיבה שתמצא לנכון. נסיבות בהן איוונטיפיי עשויה לנהוג כך כוללות מקרים של עבירה על הוראות דין או על תנאי השימוש באתר זה, הפרעה מכל סוג שהוא לפעילות התקינה של האתר, פגיעה בזכויות קניין רוחני של איוונטיפיי או של צד אחר. לא תהיה לך כל טענה או דרישה כנגד איוונטיפיי במקרה של השעיה, הסרה, הפסקה או חסימה כאמור.
  %p
  איוונטיפיי, לא תישא בכל אחריות לכל נזק שייגרם על ידי נסיבות מעבר לשליטתה, ובכלל זאת, ומבלי לפגוע בכלליות האמור, כוח עליון, אש, מלחמה, הפרעות קשות בסדר הציבורי, מחסור במקורות סבירים להספקה של ציוד חיוני למערכת, חוקים, תקנות או צווים ממשלתיים, מגבלות הרשת, מגבלות צבאיות או ביטחוניות, אמצעים למניעת הונאה, גישה לא מורשית של צדדים שלישיים (לרבות "האקרים") או נסיבות אחרות שאינן בשליטתה של איוונטיפיי.
  %p
    מבלי לגרוע מהאמור, אחריותה הכוללת של איוונטיפיי, לקוחותיה ומי מספקיה לשירותים או לנזקים אחרים שנגרמו משימוש באתר והשתתפות בתוכנית המעצבים, ותרופתך הבלעדית במקרה שאיוונטיפיי תימצא אחראית על אף ההגבלות על האחריות שלעיל, יהיו מוגבלות לתמורה לה תהיה זכאי (אם בכלל) ואשר טרם שולמה לך.
  %p
    בכל מקרה לא תהיה איוונטיפיי אחראית, לפי דיני הנזיקין, החוזים או כל דין אחר, בגין נזקים עקיפים או תוצאתיים, או בגין אובדן לקוחות או הזדמנויות, הפסד הכנסה, הפסד רווחים בגין מכירות צפויות או השקעות שיווקיות, אבדן מוניטין וכדומה, אף אם ידעה על האפשרות שיגרם הנזק.
  %h3
    סיום ההתקשרות
  %p
    מבלי לגרוע מיתר האמור בתנאי ההתקשרות, איוונטיפיי תהיה רשאית, בכל עת, לפי שיקול דעתה מכל סיבה שהיא וללא כל סיבה, להפסיק את ההתקשרות עמך במסגרת תוכנית המעצבים ולהפסיק את המנוי שלך לאתר.
  %h3
    סמכות שיפוט
  %p
    תנאי ההתקשרות כפופים לדין הישראלי. כל סכסוך או מחלוקת בקשר לתנאי ההתקשרות, תובא להכרעה בערכאה השיפוטית המוסמכת במחוז מרכז בלבד.
  %h3
    הודעות
  %p
    איוונטיפיי תהיה רשאית למסור לך הודעות באמצעות דואר רגיל או דואר אלקטרוני לכתובות שמסרת בעת הרשמתך לאתר או באמצעות הצגת הודעות בממשק המשתמש של האתר. עליך למסור הודעות לאיוונטיפיי בכתב בדואר אלקטרוני לכתובת: __________________. הודעה תחשב כהודעה שנמסרה אם נשלחה בדואר אלקטרוני בכפוף להצגת אישור הנמען על קריאת ההודעה; אם הוצגה בממשק המשתמש של האתר, בכפוף לאישור המשתמש על קריאת ההודעה (בלחיצה על כפתור אישור); ואם נשלחה בדואר רשום, חמישה ימים לאחר מסירתה למשלוח (כנגד אישור מסירה).
  
