.top-text.static
  %p
    Hi,
  %br
  %p
    You are trying to use Eventify's online party planning service with a browser which is obsolete, in other words, it does not contain all of the necessary functions for the correct working of many current web sites with
    %a{:href => "http://www.eventify.co.il"}= "www.eventify.co.il"
    being amongst them.
  %br
  %p
    In order to enjoy our online party planning service, amaze your friends with unique and customized invitations for your event, and all with great efficiency and friendly user interface, all you need to do is update your browser to the latest version.
  %br
  %p
    The browser update may be done through the browsers web page:
  %br
  %p
    %a{:href => "http://www.microsoft.com/windows/internet-explorer/download-ie.aspx", :rel => "nofollow"}
      %img{:src => "/images/IE8_logo_intl.gif"}
  %br
  %p
    %a{:href => "http://www.firefox.com", :rel => "nofollow"}
      %img{:src => "/images/firefox.gif"}
  %br
  %p
    %a{:href => "http://www.google.com/chrome", :rel => "nofollow"}
      %img{:src => "/images/chrome.gif"}
  %br
  %p
    For further assistance you may contact our support at:
    %a{:href => "mailto:support@eventify.co.il"}
      support@eventify.co.il
  %br
  %p
    %b>= "E"
    ventify&nbsp;
    %b>= "Y"
    our&nbsp;
    %b>= "D"
    ay,
  %br
  %p
    The Eventify Team.
