- @page_title = _("Pricing")
.top-text
  %h2= _("Pricing")
  %p
    Eventify is currently in a “free” beta phase for all our users as we’ve recently launch.
  %p
    We’re working extra hard to deliver a service that surpasses your needs and expectations.
  %p
    In the coming weeks, we will be shifting towards a “freemium” based model in order to offer and maintain the highest service possible.
  %p
    Your privacy and satisfaction is essential to us.