- @page_title = _("Pricing")

.top-text
  %h2= _("Pricing")
  %p
    בשבועות הקרובים תוכלו להנות משימוש באתר Eventify בחינם.
  %p
    אנו עובדים קשה על מנת לספק לכם מוצר איכותי ושירות טוב שיתאימו לציפיות שלכם:
  %p
    ללא פרסומות
  %p
    ללא מסירת מידע על העדפות המשתמשים באתר
  %p
    עם גלריית הזמנות מגוונת ועוד כלים רבים
  %p
    בקרוב נעבור למודל פרמיום בכדי להבטיח את המשך הנאתכם משימוש באתר שלנו.