.terms
  %h2{:style => "text-align: center;"}
    תנאי שימוש
  %p
    איוונטיפיי בע"מ ("
    %b="איוונטיפיי"
    ") הינה חברה פרטית המפעילה ומנהלת אתר זה ("
    %b="האתר"
    "), אשר משמש את לקוחותיו לשליחת הזמנות לאירועים פרטיים שאינם בעלי אופי מסחרי ("
    %b="שירותי האתר"
    "). איוונטיפיי שומרת לעצמה את הזכות לשנות את השירותים שהיא נותנת, ובכלל זאת על ידי הוספת שירותים או הפסקתם, ללא כל הודעה מראש.
  %p
    התנאים שלהלן, כפי שיעודכנו מעת לעת, מסדירים את היחסים בין איוונטיפיי לבינך, כלקוח האתר ו/או גולש באתר. בכפוף לתנאים אלו ולהתחייבותך לעמוד בהם ("
    %b="תנאי השימוש"
    "), תוכל לשלוח/לקבל הזמנות לאירועים פרטיים באמצעות האתר, ולנהל מצבת מוזמנים לאירועים פרטיים שלך, וכן לגלוש באתר.
  %p
    איוונטיפיי שומרת לעצמה את הזכות לשנות את תנאי השימוש וכן את התשלומים הקשורים לשימושי האתר. האחריות המלאה להכרת תנאי השימוש, כפי שיעודכנו מעת לעת ולשימוש באתר על פי תנאי השימוש חלה בכל עת עליך בלבד. המשך השימוש באתר וגלישה בו מהווה את הסכמתך לכל תנאי השימוש.
  %p
    השימוש בשירותי האתר מיועד אך ורק ללקוחות/גולשים בגירים, מעל גיל 18, וייעשה רק באמצעות כרטיס אשראי תקף אשר הינו על שמו של הלקוח/גולש.
  %h3
    קניין רוחני
  %p
    תוכנו של אתר האינטרנט eventify.co.il והשירותים הניתנים במסגרתו מוגנים בזכויות יוצרים ©. כל זכויות היוצרים והקניין הרוחני באתר ובשירותיו שמורות לאיוונטיפיי או לצדדים שלישיים שהעניקו לה הרשאה להשתמש בהם במסגרת האתר והשירותים כאמור. בכלל זה, ומבלי למעט מכלליות האמור, איוונטיפיי הינה הבעלים הבלעדי בשמות ובסימנים המסחריים של האתר, בפטנטים ובמדגמים של האתר, בין שהם רשומים ובין שאינם רשומים, בסודות מסחריים הכרוכים בהפעלת האתר ובהענקת השירותים, בעיצוב האתר, במידע הטכנולוגי הכרוך בהפעלתו, לרבות אך מבלי לגרוע, בתוכנות, ביישומים, בקבצים גראפיים ואחרים, בקודי מחשבים, בטקסטים ו/או בכל חומר אחר הכלול בו (להלן - "
    %b="המידע"
    ").
  %p
    מותר להשתמש בשירותי האתר ובמידע רק לשימושך הפרטי והאישי על פי תנאי השימוש ואין להעתיק, להעביר, להפיץ, לשכפל, להציג בפומבי, להעניק רישיונות עבורם, ליצור עבודות נגזרות מתוכם ו/או לאחסנם באופן חלקי או מלא, זמני או קבוע, בכל צורה שהיא או למסור לצד שלישי את שירותי האתר ו/או המידע ו/או כל חלק הימנו. מבלי לגרוע מן האמור, אין לשנות, לפרסם, לשדר, להעביר, למכור, להפיץ או לעשות שימוש מסחרי כלשהו, בשירותי האתר ו/או במידע ו/או בכל חלק הימנו, אלא אם איוונטיפיי הסכימה לכך במפורש מראש ובכתב.
  %p
    השימוש בשירותי האתר מותנה בהסכמתך ובהתחייבותך כי לא תעשה או תבצע או תהיה מעורב בביצוע פעולות המפרות את תנאי השימוש, ובפרט, פעולות הגורמות להפרת זכויות קניין רוחני של איוונטיפיי או של ספקיה. לפיכך, בעשותך שימוש בשירותי האתר, הנך מתחייב שלא לבצע פעולות כאלו.
  %h3
    אבטחת מידע
  %p
    הגישה לשירותי האתר מתאפשרת באמצעות סיסמא. הנך מתחייב שלא להשתמש בסיסמא, בשם המשתמש ובקוד סודי של אחר ולא למסור את הסיסמא, שם המשתמש והקוד הסודי שלך לכל צד שלישי. חשוב שתשמור על סודיות פרטיך (ושתדווח לנו מייד ברגע שתגלה שאבדו או שמישהו עשה בהם שימוש בלי הסכמתך), כי אתה עלול להיות אחראי לשימוש שיעשה בהם (כולל לתשלום עבור שירותים), אפילו אם נעשה בלא הסכמתך. אנו ממליצים כי תשנה את סיסמתך מפעם לפעם. אסור להשתמש בפרטים של אדם אחר בלי הרשאה.
  %p
    התקשורת עם האתר נעשית באמצעות רשת האינטרנט, ולפיכך קיימת סכנה כי מידע יגיע לידי צדדים שלישיים. תכנים שתעלה לאתר עשויים להיות נגישים לכל משתמשי האינטרנט.
  %p
    איוונטיפיי אינה בודקת את המידע והתכנים שעוברים ברשת, למעט לצורך הגנה על הרשת שלה, ולכן באחריותך לנקוט באמצעי אבטחה הולמים (כגון כנגד וירוסים, חדירה למחשבים, אובדן מידע, חשיפת סודות וכו'), הנובעים מקישור לרשתות תקשורת חיצוניות או מהיכולת לקבל קבצים ומידע אחר ממקורות שונים, וכל שימוש שתעשה במידע או בשירותים הוא על אחריותך בלבד.
  %p
    איוונטיפיי תשמור על פרטיות הנתונים שלך בהתאם לדין. עם זאת, איוונטיפיי תהיה רשאית לגלות את פרטיך לשם אספקת שירותי האתר, גביית כספים, עריכת חשבונות, ואכיפת זכויותיה על-פי תנאי השימוש, ותהיה רשאית להעביר פרטיך לאחר על-פי סמכות שבדין, ובהתאם לאמור בתנאי השימוש.
  %p
    כדי להגן על הנתונים שלך איוונטיפיי יכולה לדרוש שתספק לה מידע המאפשר לה לזהות אותך, כגון מספר תעודת זהות ומידע הנוגע לאמצעי התשלום שמסרת לה לצורך תשלום חשבונותיך.
  %p
    הפרטים שתמסור בעת ההתקשרות עם איוונטיפיי ובכל פניה אחרת שלך אליה יישמרו במאגר מידע ממוחשב. אין עליך חובה בדין למסור פרטים על עצמך, אבל אם לא תספק לאיוונטיפיי פרטים מסוימים, איוונטיפיי לא תוכל לספק לך שירותים מסוימים במסגרת הסכם זה.
  %p
    כל שירותי האתר, ניתנים "כפי שהם" (As Is) ללא אחריות או חבות מכל סוג. איוונטיפיי מסירה מעצמה בזאת כל אחריות וחבות לגבי שירותי האתר ותכני האתר, כולל כל אחריות וחבות משתמעים לגבי איכות טכנית, התאמה למטרה מסחרית או כללית, התאמה לתכלית מסוימת, מקצועיות הביצוע, בעלות ואי-הפרת זכויות.
  %p
    איוונטיפיי לא תהיה אחראית לגישה ללא הרשאה או לשינוי ללא הרשאה של התכנים אשר תעלה לאתר, ולחומר או נתונים שיישלחו או יתקבלו או שלא יישלחו או שלא יתקבלו. אתה מסכים באופן מפורש לכך שאיוונטיפיי אינה נושאת באחריות או בחבות לכל תוכן או התנהגות מאיימים, משמיצים, מגונים, פוגעים או לא חוקיים של כל גורם אחר, או לכל הפרת זכויות של גורם אחר, כולל זכויות קניין רוחני. אתה מסכים באופן מפורש לכך שאיוונטיפיי אינה אחראית לכל תוכן הנשלח באמצעות ו/או נכלל באתר על-ידי צד שלישי כלשהו.
  %p
    דף התשלום של איוונטיפיי מאובטח בתקן PCI.
  %h3
    מידע והגנת הפרטיות
  %p
    בעת השימוש ו/או הגלישה באתר יכול שיצטבר מידע על נוהגיך, שירותים שרכשת, מידע או פרסומות שקראת באתר, העמודים שבהם צפית, השירותים שעניינו אותך, אמצעי התשלום ששימשו אותך, מקום המחשב שבאמצעותו נכנסת לאתר ועוד. איוונטיפיי תהיה רשאית לשמור את המידע במאגריה. השימוש בנתונים אלה, כמו גם בנתונים שתמסור בעת רכישת שירותי האתר, ייעשה רק על פי מדיניות פרטיות זו או על פי הוראות כל דין, למטרת שיפור והעשרת השירותים והתכנים המוצעים באתר, ובכלל זה ליצור שירותים ותכנים חדשים המתאימים לדרישות המשתמשים באתר, על מנת לשנות או לבטל שירותים ותכנים קיימים. המידע שישמש את איוונטיפיי לצורך כך יהיה בעיקרו מידע סטטיסטי, שאינו מזהה אותך אישית. 
  %p
    בנוסף, השימוש במידע על ידי איוונטיפיי ייעשה גם לשם ליצירת הקשר איתך (במקרה הצורך) או לצורך ניתוח ומסירת מידע סטטיסטי לצדדים שלישיים (לרבות מפרסמים) ועוד. מידע זה לא יזהה אותך אישית. 
  %p
    איוונטיפיי לא תעביר לצדדים שלישיים את פרטיך האישיים והמידע שנאסף על שימושך וגלישתך באתר, ככל שפרטים ומידע זה מזהים אותך אישית, אלא במקרים המפורטים להלן:
  %ul
    %li
      במקרה שתפר את תנאי השימוש באתר איוונטיפיי, או אם תבצע באמצעות האתר, או בקשר איתו, פעולות הנחזות כמנוגדות לדין, או ניסיון לבצע פעולות כאלה במקרים אלה, תהיה איוונטיפיי רשאית למסור את המידע לפי הנדרש;
    %li
      אם יינתן צו שיפוטי המורה לאיוונטיפיי למסור את פרטיך או המידע אודותיך לצד שלישי;
    %li
      לצורך בירור כל מחלוקת, טענה, תביעה, דרישה או הליכים משפטיים, אם יהיו, בינך לבין איוונטיפיי;
    %li
      בכל מקרה שאיוונטיפיי תסבור, כי מסירת המידע נחוצה כדי למנוע נזק חמור לגופך או לרכושך או לגופו או לרכושו של צד שלישי;
    %li
      אם איוונטיפיי תארגן את פעילות האתר במסגרת תאגיד אחר - וכן במקרה שתתמזג עם גוף אחר או תמזג את פעילות האתר עם פעילותו של צד שלישי - תהיה זכאית איוונטיפיי להעביר לתאגיד החדש העתק מן המידע שנאגר אודותיך באתרים או כל מידע סטטיסטי שבידיה, ובלבד שתאגיד זה יקבל על עצמו כלפיך את הוראות מדיניות פרטיות זו.
  %h3
    Cookies
  %p
    האתר משתמש ב-Cookies לצורך תפעולו השוטף והתקין, ובכלל זה כדי לאסוף נתונים סטטיסטיים אודות השימוש באתר, לצורך אימות פרטים, כדי להתאים את האתר להעדפותיך האישיות ולצרכי אבטחת מידע. 
  %p
    ה- Cookies מכילים מידע מגוון כדוגמת הדפים שבהם ביקרת, משך הזמן ששהית באתר, מהיכן הגעת אל האתר, מדורים ומידע שאתה מבקש לראות בעת הכניסה לאתר ועוד. המידע ב- Cookies  מוצפן, ואיוונטיפיי נוקטת צעדי זהירות כדי להבטיח שרק מחשביה יוכלו לקרוא ולהבין את המידע האגור בהם.
  %p
    אם אינך מעוניין לקבל Cookies תוכל להימנע מכך על ידי שינוי ההגדרות בדפדפן שלך. לשם כך אנא העזר בקובץ העזרה של הדפדפן. עליך לדעת, עם זאת, שנטרול ה- Cookies עלול לגרום לכך שלא תוכל להשתמש בחלק מהשירותים והתכונות באתר, או באתרי אינטרנט אחרים. בנוסף לכך, אתה יכול למחוק את ה Cookies במחשב בכל רגע. מוצע שתעשה כן, רק אם אתה משוכנע שאינך רוצה שאתר איוונטיפיי יהיה תואם להעדפותיך. הואיל וה- Cookies מונעות ממך לעתים את הצורך להזין שמות משתמש וסיסמאות, אל תמחק אותן אלא אם אתה משוכנע שרשמת תחילה את כל הפרטים הדרושים לשימוש באתר במקום בטוח.
  %h3
    התחייבויות הלקוחות ומשתמשי האתר
  %p
    איוונטיפיי מתנגדת לתופעת דואר הזבל הגורמת נזקים כבדים לכל המעורבים במדיום הדואר האלקטרוני, לרבות משתמשיו.
  %p
    הנך מתחייב שלא להשתמש בשירותי האתר  לצורך או בקשר ליצירת ו/או משלוח דואר זבל, ו/או לביצוע כל פעולה הקשורה ביצירת ו/או משלוח דואר זבל, במישרין או בעקיפין, במעשה או במחדל, לרבות לצורך מצג כאילו נשלח דואר כזה באמצעות האתר.
  %p
    נאסר עליך להשתמש בשירותי האתר תוך הפרת כל דין, כללי או מיוחד, האוסר על יצירת ו/או משלוח דואר זבל, ו/או ביצוע כל פעולה הקשורה ביצירת ו/או משלוח דואר זבל, במישרין או בעקיפין, במעשה או במחדל. 
  %p
    בין היתר, ומבלי לגרוע מכלליות האמור לעיל, נאסר עליך להשתמש בשירותי האתר, תוך הפרת חוק התקשורת (בזק ושידורים), התשמ"ב-1982, חוק העוולות המסחריות, התשנ"ט-1999, חוק המחשבים, התשנ"ה-1995, חוק הגנת הפרטיות, התשמ"א-1981, החוק למניעת הטרדה מאיימת, התשס"ב-2001, חוק איסור לשון הרע, תשכ"ה-1965, חוק העונשין, תשל"ז-1977, פקודת הנזיקין [נוסח חדש], ו/או כל תקנה או צו שניתנו על פי או בהתאם לחוקים האמורים. הנך מתחייב שלא להשתמש באתר בתכנים המכילים אופי מאיים, בוטה, גזעני, או מעליב, או חומר פורנוגראפי או בעל אופי מיני בוטה או שעלול לפגוע ברגשות הציבור;
  %p
    הנך מתחייב שלא להשתמש בשירותי האתר לצורך ביצוע מעשה או פעולה האסורים עפ"י כל דין;
  %p
    הנך מתחייב כי כל תוכן אשר יועלה לאתר על ידך, ואשר ייעשה בו שימוש בשירותי האתר, הינו בבעלותך ובאחריותך הבלעדית, וכן כי אינו מהווה הפרה של זכויות יוצרים של אחר.
  %p
    אתה מסכים להשתמש באתר רק כדי להציג, לשלוח ולקבל הודעות ותכנים מתאימים. כדוגמה, ומבלי למעט, אתה מסכים לכך שבעת שימוש באתר לא תבצע את הפעולות הבאות:
  %ul
    %li
      שימוש באתר למשלוח הודעות או תכנים שהנמען לא ביקש לקבל (למטרה מסחרית או אחרת).
    %li
      השמצה, גידופים, הטרדה, מעקב, איום או כל הפרה אחרת של הזכויות החוקיות (כולל זכויות לגבי פרטיות ופרסום) של אנשים אחרים
    %li
      פרסום, הצבה באינטרנט, טעינה, הפצה או שליחה של כל חומר או מידע לא-ראויים, גסים, משמיצים, מגונים, מסיתים לשנאה, אפליה, גזענות או אלימות, מוציאי לשון הרע, מעודדים עבירות פליליות או אזרחיות, פוגעים בפרטיות, מזיקים, פוגעים ברגשות הציבור ותכנים אשר מהווים הפרה כלשהי של החוק או של התחייבות חוזית.
    %li
      טעינה, או פרסום בצורה אחרת, של קבצים המכילים תמונות, צילומים, תוכנות או חומר אחר המוגן באמצעות חוקי קניין רוחני, וחוקים לגבי פרטיות ופרסום, אלא אם הזכויות לגבי חומר זה נמצאות בבעלותך או בשליטתך, או שקיבלת את ההסכמות הדרושות כדי לעשות זאת.
    %li
      טעינת קבצים המכילים תוכנות מחשב פוגעניות, לרבות וירוסים, סוסים טרויאניים וכיו"ב, תוכנות ותכנים העלולים לפגוע בתפקוד המחשב או הטלפון הנייד של אדם אחר או ברכושו של אדם אחר.
    %li
      פרסום או הצעה למכור או לקנות סחורות או שירותים למטרה עסקית כלשהי, תכנים בעלי אופי מסחרי או תכנים המכילים מידע פרסומי כלשהו.
    %li
      טעינת קובץ שהוצב על-ידי משתמש אחר באתר ואשר ידוע לך, או שאתה אמור לדעת באופן סביר, כי לא ניתן להפיצו באופן חוקי בצורה זו.
    %li
      זיוף או מחיקה של ייחוס של מחבר כלשהו, הודעות משפטיות, הודעות אחרות, ציוני קניין או תוויות לגבי מקור התכנים והשירותים או חומר אחר הכלול בקובץ שנטען.
    %li
      הגבלה או מניעה של משתמש אחר משימוש באתר ומהנאה מהם.
    %li
      יצירת זהות כוזבת כדי להטעות אחרים.
    %li
      איסוף, שימוש, הורדה או העתקה אחרת של רשימה של משתמשים ומנויים, או של מידע אחר לגבי משתמשים או שימוש או מתן מידע כזה (תמורת תשלום או ללא תשלום) לאדם או ישות כלשהם.
  %p
    הנך מתחייב לשפות את איוונטיפיי, ספקיה וכל הפועלים מטעמה בגין כל נזק או הוצאה, מכל סוג שהוא, שייגרמו לה במישרין או בעקיפין, מתכנים אשר העלית לאתר או מתכנים שהופצו על ידך באמצעות האתר.
  %p
    הנך מתחייב להשתמש בשירותי האתר, בהתאם לתנאי השימוש ולהוראות הדין הישראלי, ומתחייב לשפות את איוונטיפיי, ספקיה וכל הפועלים מטעמה בגין כל נזק ו/או הוצאה, לרבות הוצאות משפטיות, אשר ייגרמו לה בגין שימושך באתר באופן המפר את תנאים והוראות אלו.
  %p
    איוונטיפיי תהיה רשאית, על פי שיקול דעתה הבלעדי, להשעות או לחסום, באופן זמני או קבוע, את הגישה שלך לשירותי האתר במקרים של עבירה על הוראות דין או על תנאי השימוש באתר זה, או אם קיימת הפרעה מכל סוג שהוא לפעילות התקינה של האתר, או פגיעה בזכויות קניין רוחני של איוונטיפיי או של צד אחר, ולא תהיה לך כל טענה או דרישה כנגד איוונטיפיי במקרה של השעיה או חסימה כאמור.
  %h3
    תכנים שיווקיים
  %p
    אם הינך מעוניין שאיוונטיפיי תעשה שימוש בכתובת דואר האיימייל שלך לשם שליחת עדכונים ומידע שיווקי – סמן [X] בתיבה המתאימה.
  %h3
    ביטול עסקאות
  %p
    לתשומת ליבך, ברכישתך את שירותי ניהול האירוע בלבד, לא תהיה לך זכאות לבטל את הרכישה, באשר השירות ניתן לך מיד עם רכישתו.
  %p
    ככל שתבחר לשלוח באמצעות האתר הזמנות בתשלום ("עסקה"), תהא לך זכות לבטל את העסקה בכתב (באמצעות פקס או דואר אלקטרוני לכתובת המופיעה תחת "צור קשר"), כדלקמן:
  %ul
    %li
      ביחס לתשלום עבור ההזמנה עצמה, תהיה רשאי לבטל את העסקה בתוך ארבעה עשר ימים מיום עשיית העסקה או מיום קבלת הדואר האלקטרוני המכיל את פרטי העסקה, לפי המאוחר, בתנאי שביטול כאמור ייעשה קודם למשלוח ההזמנה הראשונה ובתנאי שלא תישלח ההזמנה לאחר הביטול.
    %li
      ביחס לתשלום עבור משלוח ההזמנה למספר נמענים מסוים, תהיה רשאי לבטל את העסקה לחלוטין, או להפחית את מספר הנמענים להם ישלחו ההזמנות, בתוך ארבעה עשר ימים מיום עשיית העסקה או מיום קבלת הדואר האלקטרוני המכיל את פרטי העסקה, לפי המאוחר, בתנאי שביטול כאמור ייעשה קודם למשלוח ההזמנות ובתנאי שלא תשלח את ההזמנות לנמענים שבוטלו לאחר ביטול העסקה.
  %p
    במידה ותבחר לבטל את העסקה כאמור לעיל, במלואה או באופן חלקי, איוונטיפיי תחזיר לך בתוך 14 ימים מיום קבלת הודעתך על הביטול, את החלק ממחיר העסקה ששולם על ידך בגין שירות האתר שטרם ניתן לך, תבטל את חיובך כאמור, תמסור לך עותק מהודעת ביטול החיוב כאמור ולא תגבה ממך דמי ביטול כלשהם.
  %h3
    הגבלת אחריות
  %p
    איוונטיפיי אינה מתחייבת ששירותי האתר יסופקו ללא תקלות, כשלים בתוכנה או במערכות התקשורת ולכך כי יינתנו כסדרם בלי הפסקות, ללא הפרעות וללא טעויות, ולא תהיה אחראית לכל נזק ו/או הוצאה אשר ייגרמו ללקוחות/גולשים באתר בקשר עם תקלות כאמור.
  %p
    כמו כן הינך מצהיר כי ידוע לך כי קבלת השירותים מאתר זה ואיכותם תלויה בגורמים טכנולוגיים שאינם תמיד בשליטת איוונטיפיי, כמו זמינות ותקינות של רשת האינטרנט ורשתות תקשורת אחרות וכן ציוד הקצה שברשותך. לפיכך, לא תהיה רשאי להעלות כלפי איוונטיפיי כל טענה או דרישה בכל הנוגע לאובדן, עוגמת נפש, נזק או הפסד בגין כל טעות, תקלה, פגיעה באיכות או כשל בהעברת השירותים, ככל שטעות, תקלה או כשל כאמור נובעים, במישרין או בעקיפין, מתקלה או כשל ברשת האינטרנט או רשת אחרת או ציוד הקצה שברשותך.
  %p
    איווננטיפיי לא תהיה אחראית לכל אובדן, נזק או הפסד, ישיר או עקיף, אשר נגרם כתוצאה מהסתמכות על  שירותי האתר.
  %p
    איוונטיפיי אינה מציגה מצג כלשהו לגבי התאמה, אמינות, זמינות ודייקנות תכני האתר, כמו גם הפרסומות המוצגות באתר, לכל מטרה שהיא, וכן לגבי היעדר וירוסים או רכיבים מזיקים אחרים בהם.
  %p
    איוונטיפיי אינה אחראית לזמינות שירותי האתר, וכן אינה אחראית לשום פגיעה או הפרת זכויות קניין רוחני שתיגרם במישרין ו/או בעקיפין על ידי לקוחות/גולשי האתר.
  %p
    איוונטיפיי, לא תישא בכל אחריות לכל נזק שייגרם על ידי נסיבות מעבר לשליטתה, ובכלל זאת, ומבלי לפגוע בכלליות האמור, כוח עליון, אש, מלחמה, הפרעות קשות בסדר הציבורי, מחסור במקורות סבירים להספקה של ציוד חיוני למערכת, חוקים, תקנות או צווים ממשלתיים, מגבלות הרשת, מגבלות צבאיות או ביטחוניות, אמצעים למניעת הונאה, גישה לא מורשית של צדדים שלישיים (לרבות "האקרים") או נסיבות אחרות שאינן בשליטתה של איוונטיפיי.
  %p
    מבלי לגרוע מהאמור, אחריותה הכוללת של איוונטיפיי ומי מספקיה לשירותים או לנזקים אחרים שנגרמו משימוש באתר ותרופתך הבלעדית במקרה שאיוונטיפיי תימצא אחראית על אף ההגבלות על האחריות שלעיל, תהיה מוגבלת לסכום ששלמת בפועל (אם בכלל) עבור שירותי האתר.
  %p
    עליך לשפות את איוונטיפיי, ספקיה וכל הפועלים מטעמה ולהגן עליהם מפני כל דרישה או תביעה (לרבות שכר טרחת עורכי דין), אשר יגרמו כתוצאה מהשימוש שלך בניגוד לתנאי השימוש באתר, בתכנים, או בשירותים אחרים הניתנים באמצעותו.
  %p
    התכנים באתר, כמו גם הפרסומות המוצגות באתר, נמסרו לנו על ידי ספקים שונים ועל אחריותם בלבד. איוונטיפיי אינה שולטת במקורות המידע ואינה אחראית לתוכנם, שלמותם, מהימנותם או דיוקם.
  %h3
    סמכות שיפוט
  %p
    תנאי השימוש כפופים לדין הישראלי.
  %p
    כל סכסוך או שאלה משפטית בקשר לתנאי השימוש, תובא להכרעה בערכאה השיפוטית המוסמכת במחוז מרכז ו/או תל אביב-יפו בלבד.
