- @page_title=_("Sending Invitations | Eventify")
- @content_css_class = "stars-bg"; @content_area_css_class = "content-area-alt"

.h-container
  .t &nbsp;
  .c
    .h-container-content
      .confirmed-box
        %h2= _("Invitations are being sent!")
        .confirmed-btns
          %span= _("Check out")
          != link_to content_tag(:em, _("Event Summary Page")), summary_path(resource), :class => "btn-4"
  .b-alt &nbsp;