.form-cols
  .form-col-1
    .form-row
      != f.text_field :name, :label => _("Name:")
      != f.text_field :email, :label => _("Email:")
  .form-col-2
    .form-row
      != f.text_field :mobile, :label => _("Mobile:")
