!= link_to "New", new_contact_path
!= link_to "Import", contact_importers_path

%table
  %tr
    %th Name
    %th Email
    %th Mobile
    %th Business Info
    %th Address
    %th &nbsp;
  != render(:partial => @contacts)

!= will_paginate(@contacts)