%h2 New contact

- semantic_form_for(@contact, :live_validations => true) do |f|
  = f.object.errors.on(:base)
  != render :partial => "form", :locals => { :f => f }
  != f.submit "Save"
  != link_to "Cancel", contacts_path
