.side-box.side-box-blue
  .holder
    .side-box-heading
      %h2= _("Things to bring")
    .side-box-content
      %h3= _("Please select from the list")
      %form.form.bring-form{ :action => "#" }
        %fieldset
          .scroll-container
            %ul
              != render(:partial => 'thing', :collection => resource.event.things.left) # li, li.alt, li.active
          .btns-hold
            %a{ :href => "#" } Save
            %a{ :href => "#" } Cancel