- @skip_header = @skip_footer = true; @extra_body_class = "alt-page"

.content-area
  != render(:partial => 'sidebar')
  #content-column
    != render(:partial => 'info')
    != render(:partial => 'guests')
