- middle_box_section("change_password") do
  - form_for(@user, :url => password_path(@user.perishable_token), :method => :put, :builder => MiddleBoxFormBuilder::Builder) do |f|
    != render(:partial => "passwords/form", :locals => {:f => f})
    .settings-form-btns
      != link_to_function content_tag(:span, _("Save")), "jQuery(this).parents('form').get(0).submit()", :class => "blue-btn-alt"
      %span.cancel-btn
        = _("or")
        != link_to_function _("Cancel"), "jQuery('#change_password').hide()"