.top-text
  %h2= _("Send Password Reset Instructions")

.settings-box.login
  - middle_box_section("") do
    - form_for(@user ||= User.new, :url => passwords_path, :builder => MiddleBoxFormBuilder::Builder) do |f|
      = f.object.errors.on(:base)
      != f.text_field :email, :label => _("Email")
      .settings-form-btns
        != link_to_function content_tag(:span, _("Send")), "jQuery(this).parents('form').get(0).submit()", :class => "blue-btn-alt"
