%h1 Edit Garden

- semantic_form_for(@garden, :live_validations => false, :url => admin_garden_path(@garden), :html => {:multipart => true}) do |f|

  != render :partial => "form", :locals => { :f => f }

  != f.submit "Update"
  != link_to _("Cancel"), admin_gardens_path
