<span style="font-size:16px;font-weight:bold;color:#41BDCD;font-family:arial;line-height:110%;">Dear <%= h(@user.name)%>,</span>
<p>Your password was changed successfully.</p>
<br/>
<p>You can log in to your account at <%= link_to(@login_url, @login_url) %>
<br/>
<p>Best regards,<p>
<p>The Eventify team.</p>
<br/>
<p>Please do not reply to this email.</p>
