<span style="font-size:16px;font-weight:bold;color:#41BDCD;font-family:arial;line-height:110%;">Dear <%= h(@user.name)%>,</span>
<p>We have received a request to reset your password.</p>
<p>If you did not make this request, simply ignore this email.</p>
<p>If you did make this request just click the following link: <%= link_to(@edit_password_url, @edit_password_url) %>
<p>If the above URL does not work try copying and pasting it into your browser.</p>
<p>If you continue to have problems, please feel free to contact us at: <a href="mailto:support@eventify.co.il">support@eventify.co.il</a></p>
<p>Best regards,<p>
<p>The Eventify team.</p>
<br/>
<p>Please do not reply to this email.</p>
