<span style="font-size:16px;font-weight:bold;color:#41BDCD;font-family:arial;line-height:110%;">שלום <%= h(@user.name)%>,</span>
<p>סיסמתך שונתה בהצלחה.</p>
<p>לכניסה לחשבונך ניתן ללחוץ על הקישור הבא:</p>
<%= link_to(@login_url, @login_url) %>
<p>אין צורך להשיב למייל זה.</p>
<p>בברכה,</p>
<p>צוות Eventify.</p>
