<span style="font-size:16px;font-weight:bold;color:#41BDCD;font-family:arial;line-height:110%;">שלום <%= h(@user.name)%>,</span>
<p>קיבלנו בקשה לאפס את סיסמתך בחשבון Eventify שלך.</p>
<p>אם לא ביקשת זאת, כל שעליך לעשות זה להתעלם ממייל זה.</p>
<br/>
<p>לאיפוס הסיסמה ניתן ללחוץ על הקישור הבא:</p>
<p><%= link_to(@edit_password_url, @edit_password_url) %></p>
<br/>
<p>אם לחיצה על הקישור אינה פותחת את ההזמנה, ניתן להעתיק את שורת הקישור ולהדביק אותה בשורת הכתובת בדפדפן.</p>
<p>נשמח לעמוד לרשותך בכל שאלה ב- <a href="mailto:support@eventify.co.il">support@eventify.co.il</a></p>
<p>אין צורך להשיב למייל זה.</p>
<p>בברכה,</p>
<p>צוות Eventify.</p>
