- f.inputs do
  != f.input :name_en, :label => "Name in English"
  != f.input :name_he, :label => "Name in Hebrew"
  != f.input :popularity, :label => "popularity (number - the higher the more popular)"
