%div{:class => surround}
  .col-h
    != more_designs_link(category)

    %h2= category.name

    .img-box
      != render(:partial => "designs/selector", :locals => {:design => category.designs.popular(0)})
    .img-box.img-box-1
      != render(:partial => "designs/selector", :locals => {:design => category.designs.popular(1)})