%div{:class => surround}
  .col-h
    != more_designs_link(category)

    %h2= category.name if category

  .img-box
    - if category
      != render(:partial => "designs/selector", :locals => {:event => nil, :design => category.designs.popular(0)})
  .img-box.img-box-1
    - if category
      != render(:partial => "designs/selector", :locals => {:event => nil, :design => category.designs.popular(1)})