%h3 Users

%table
  %tr
    %th ID
    %th Name
    %th Email
    %th Activated
    %th Events Count
    %th Paid so far
    %th Is Free
    %th &nbsp;
    %th &nbsp;
  != render collection

!= will_paginate(collection)