#flash
  - flash.each do |key, value|
    - unless value.blank?
      :javascript
        jQuery(function(){
          jQuery.jGrowl('<span class="flash #{key}">#{value}</span>', {life:5000});
        });