#footer
  .footer-area
    %h3
      Categories
    .foot-lists
      - categories_footer
    .foot-box
      %ul
        %li
          %a{ :href => "#" }
            About Eventify
        %li
          %a{ :href => "#" }
            Pricing
        %li
          %a{ :href => "#" }
            Contact Us
        %li
          %a{ :href => "#" }
            Terms of Use
        %li
          %a{ :href => "#" }
            Site Map
        - if current_user.try(:is_admin?)
          %li!= link_to "i18n", translation_keys_path
          %li!= link_to "conf", global_preferences_path
          %li!= link_to "restart", restart_path, :method => :post, :confirm => "Really RESTART the server??!"
      %p
        All right resevred to Eventify ©
      %p.by
        Design and UI
        %a{ :href => "#" }
          Cat&amp;Dog Studio
