#footer
  .footer-area
    != render(:partial => 'layouts/categories')
    .foot-box
      %ul
        %li
          %a{ :href => "#" }
            About Eventify
        %li
          %a{ :href => "#" }
            Pricing
        %li
          %a{ :href => "#" }
            Contact Us
        %li
          %a{ :href => "#" }
            Terms of Use
        %li
          %a{ :href => "#" }
            Site Map
      %p
        All right resevred to Eventify ©
      %p.by
        Design and UI
        %a{ :href => "#" }
          Cat&amp;Dog Studio
