#k_close_button.k_float.kc_bottom.kc_left"
%div
  %a#kampylink.k_float.k_bottom_sl.k_left{:href => "http://www.kampyle.com/?r=3", :target => "kampyleWindow", :onclick => "javascript:k_button.open_ff('site_code=1895105&form_id=51781&lang=he');return false;"}
    %img{:src => "http://cf.kampyle.com/buttons/he/green/he-green-band-low-left.gif", :alt => "Feedback Form", :border => "0"}
#k_slogan.k_float.k_bottom.k_left
  %a{:href => "http://www.kampyle.com/", :target => "_blank"}
    Feedback
  Analytics
!= javascript_include_tag "http://cf.kampyle.com/k_button.js", "http://cf.kampyle.com/k_push.js"
