:javascript
  var k_push_vars = {
    "display_after": 30,
    "view_percentage": 30,
    "popup_font_color": "#000000",
    "popup_background": "#ffffff",
    "popup_separator": "",
    "header": "Your feedback is important to us!",
    "question": "Would you be willing to give us a short (1 minute) feedback?",
    "footer": "Thank you for helping us improve our website",
    "remind": "Remind me later",
    "remind_font_color": "#3882C3",	
    "yes": "Yes",
    "no": "No",
    "text_direction": "ltr",
    "images_dir": "http://cf.kampyle.com/",
    "yes_background": "#76AC78",
    "no_background": "#8D9B86",
    "site_code": 1895105
  };
!= stylesheet_link_tag "http://cf.kampyle.com/k_button.css"
