%li#categories_link
  != link_to_function("Categories", "$('#categories_link').toggleClass('active');")

  .popup
    != link_to_function("close", "$('#categories_link').removeClass('active');", :class => "close")
    .popup-t
      \&nbsp;
    .popup-c
      .popup-content
        - categories_header
    .popup-b
      \&nbsp;