%li#categories_link
  != link_to_function(_("Categories"), "$('#categories_link').toggleClass('active');", :class => "top")

  .popup
    != link_to_function(_("close"), "$('#categories_link').removeClass('active');", :class => "close")
    .popup-t
      \&nbsp;
    .popup-c
      .popup-content
        - categories_header
    .popup-b
      \&nbsp;