%li#categories_link
  != link_to_function(_("Categories"), "", :class => "top")

  .popup
    != link_to_function(_("close"), "", :class => "close")
    .popup-t
      \&nbsp;
    .popup-c
      .popup-content
        - categories_header
    .popup-b
      \&nbsp;