%li#categories_link
  != link_to_function("Categories", "$('#categories_link').toggleClass('active');")

  .popup{ :style => "" }
    != link_to_function("close", "$('#categories_link').removeClass('active');", :class => "close")
    .popup-t{ :style => "" }
      \&nbsp;
    .popup-c{ :style => "" }
      .popup-content{ :style => "" }
        - categories_header
    .popup-b{ :style => "" }
      \&nbsp;