<html>
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-8-I" />
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <table dir="<%= _("ltr") %>" background="http://eventify.co.il/images/bg-stars.gif" width="100%" cellpadding="0" cellspacing="0" align="center" style="padding:0 0 20px 0">
    <tr><td>
    <table width="983px" cellpadding="0" cellspacing="0" align="center">
      <tr>
        <td valign="top" align="center">
          <table width="100%" cellpadding="0" cellspacing="0"  bgcolor="#523733">
            <tr>
              <td style="background-color:#523733;border-top:0px solid #000000;border-bottom:1px solid #FFFFFF;text-align:center;" align="center">
                <span style="font-size:10px;color:#996600;line-height:200%;font-family:verdana;text-decoration:none;"></span>
              </td>
            </tr>
            <tr>
              <td style="background-color:#523733;"><br/><center><a href=""><IMG  SRC="http://eventify.co.il/images/logo.gif" BORDER="0" title="Eventify"  alt="Eventify" align="center"></a></center><br/></td>
            </tr>
          </table>
          <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="margin-top: 20px">
            <tr>
              <td background="http://eventify.co.il/images/container-top.png" style="background-repeat:no-repeat;overflow:hidden; background-color:transparent;background-position:absolute"  height="84px" width="957px" bgcolor="#41BDCD">
                <table height="44px">
                  <tr>
                    <td style="background-repeat:no-repeat;overflow:scroll;background-color:transparent;" height="44px" width="84px" background="http://eventify.co.il/images/blue_circle_check.gif"></td>
                    <td >
                      <font size="6px" color="#41BDCD"  style="font:Arial,Helvetica,sans-serif"><b> להתרגש משלב ההזמנה</b></font>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr >
              <td  background="http://eventify.co.il/images/bg-h-container-c.png" style="background-repeat:repeat-y; overflow:scroll; background-position:0% 0%; background-color:transparent">
                <blockquote>
                    <%= yield %>
                </blockquote>
              </td>
            </tr>
            <tr>
              <td style="background-repeat:no-repeat;overflow:scroll; background-position:0% 0%; background-color:transparent"  background="http://eventify.co.il/images/bg-h-container-b.png" height="89px" >  </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td></tr>
  </table>
  </body>
</html>